# Pydough Demo

In [1]:
from llm import LLMClient

In [2]:
provider= "aws"
model = "us.anthropic.claude-3-7-sonnet-20250219-v1:0"
client = LLMClient(provider, model)

In [8]:
pydough_code, pydough_df= client.ask("Find the 10 customers with the highest balances")
print(f"Pydough code generated: \n {pydough_code}")
print("-" * 50)
pydough_df

Pydough code generated:
 # Find the 10 customers with the highest account balances
top_10_customers = customers.CALCULATE(
    key,
    name,
    acctbal
).TOP_K(10, by=acctbal.DESC())
--------------------------------------------------

      key                name  acctbal
0   61453  Customer#000061453  9999.99
1   69321  Customer#000069321  9999.96
2  144232  Customer#000144232  9999.74
3    2487  Customer#000002487  9999.72
4   23828  Customer#000023828  9999.64
5  129934  Customer#000129934  9999.59
6   43044  Customer#000043044  9999.49
7   63655  Customer#000063655  9999.47
8   15980  Customer#000015980  9999.23
9   76146  Customer#000076146  9999.23

In [5]:
pydough_code, pydough_df= client.ask("Find the top 5 nations with the highest number of orders placed by their customers in 1995.")
print(f"Pydough code generated: \n {pydough_code}")
print("-" * 50)
pydough_df

Pydough code generated:
 # Calculate the number of orders placed by customers in each nation in 1995
nation_order_counts = nations.CALCULATE(
    nation_name=name,
    order_count=COUNT(customers.orders.WHERE(YEAR(order_date) == 1995))
)

# Get the top 5 nations with the highest order counts
top_5_nations = nation_order_counts.TOP_K(5, by=order_count.DESC())
--------------------------------------------------

  nation_name  order_count
0      RUSSIA         9391
1  MOZAMBIQUE         9333
2   INDONESIA         9299
3      FRANCE         9284
4     ROMANIA         9283

In [6]:
pydough_code, pydough_df= client.ask("Find the top 3 regions with the most distinct customers")
print(f"Pydough code generated: \n {pydough_code}")
print("-" * 50)
pydough_df

Pydough code generated:
 # COUNT distinct customers per region
region_customer_counts = regions.CALCULATE(
    region_name=name,
    distinct_customers=COUNT(nations.customers)
).TOP_K(3, by=distinct_customers.DESC())
--------------------------------------------------

  region_name  distinct_customers
0      EUROPE               30197
1        ASIA               30183
2     AMERICA               29952

In [7]:
pydough_code, pydough_df= client.ask("Find the region name with the highest total order value in 1996. The total order value is defined as potential revenue, defined as the sum of extended_price * (1 - discount)")
print(f"Pydough code generated: \n {pydough_code}")
print("-" * 50)
pydough_df

Pydough code generated:
 # Filter orders from 1996 and calculate potential revenue for each line
orders_1996 = orders.WHERE(YEAR(order_date) == 1996)
lines_1996 = orders_1996.lines.CALCULATE(
    potential_revenue=extended_price * (1 - discount)
)

# Calculate total potential revenue by region
region_revenue = regions.CALCULATE(
    region_name=name,
    total_revenue=SUM(nations.customers.orders.WHERE(YEAR(order_date) == 1996).lines.extended_price * (1 - nations.customers.orders.WHERE(YEAR(order_date) == 1996).lines.discount))
)

# Find the region with the highest total revenue
highest_revenue_region = region_revenue.TOP_K(1, by=total_revenue.DESC())
--------------------------------------------------

  region_name  total_revenue
0      EUROPE   6.746079e+09

In [9]:
pydough_code, pydough_df= client.ask("Find the number of repairs by country")
print(f"Pydough code generated: \n {pydough_code}")
print("-" * 50)
pydough_df

ERROR WHILE EXECUTING QUERY:
SELECT
FROM (VALUES
  (NULL))

PydoughCodeError: An error occurred while asking the llm: An error occurred while processing the code: near "FROM": syntax error