# Pydough LLM Demo

This notebook showcases how an LLM can generate PyDough queries from natural language instructions. The goal is to demonstrate how AI can automate complex data analysis, making querying faster, more intuitive, and accessible without needing deep technical expertise.

Each example highlights different capabilities, including aggregations, filtering, ranking, and calculations across multiple collections.

## Setup

First, we import the created client.

In [2]:
from llm import LLMClient

Then we initialize the client.

In [3]:
client = LLMClient()

One should use the `ask()` method to make a query to the model.

We get a `result` object with the next attributes: 

- `code`:  The PyDough query generated by the LLM.
- `full_explanation`: A detailed explanation of how the query works.
- `df`:The dataframe containing the query results.
- `exception`: Stores any errors encountered while executing the query.
- `original_question`: The natural language question input by the user.
- `sql`: The SQL equivalent of the generated PyDough query.
- `base_prompt`: The initial instruction given to the LLM to generate the query.
- `cheat_sheet`:  A reference guide or example queries to help the LLM structure responses.
- `knowledge_graph`: The metadata structure that informs the LLM about available collections and relationships.

### Example:

First, we give the client the query we need pydough code for.

In [18]:
result= client.ask("Give me all the suppliers name from United States")

After that, we can consult all the necessary atributes from the result.

At first, I want the pydough code with a **full explanation**.

In [22]:
print(result.full_explanation)

I'll create a PyDough code snippet to retrieve all supplier names from the United States.

First, I need to find suppliers whose nation is the United States, then select just their names.

```python
# Find all suppliers from the United States
us_suppliers = suppliers.WHERE(nation.name == "UNITED STATES").CALCULATE(
    supplier_name=name
)
```

This query:
1. Starts with the suppliers collection
2. Filters to only include suppliers where the associated nation's name is "UNITED STATES"
3. Returns only the supplier name field, renamed as "supplier_name" for clarity

We can also ask for the pydough **code** without the explanation.

In [23]:
print(result.code)

# Find all suppliers from the United States
us_suppliers = suppliers.WHERE(nation.name == "UNITED STATES").CALCULATE(
    supplier_name=name
)

And if we want to visually check, analyze or edit the resulting **dataframe**, we also can.

In [24]:
result.df

          supplier_name
0    Supplier#000000010
1    Supplier#000000019
2    Supplier#000000046
3    Supplier#000000049
4    Supplier#000000055
..                  ...
388  Supplier#000009819
389  Supplier#000009829
390  Supplier#000009859
391  Supplier#000009906
392  Supplier#000009918

[393 rows x 1 columns]

We can also check the original natural language **question** that was asked.

In [19]:
print(result.original_question)

Give me all the suppliers name from United States

And if we want to compare, we can get the **equivalent SQL query** created by Pydough.

In [21]:
print(result.sql)

SELECT
  name AS supplier_name
FROM (
  SELECT
    _table_alias_0.name AS name,
    _table_alias_1.name AS name_3
  FROM (
    SELECT
      s_name AS name,
      s_nationkey AS nation_key
    FROM main.SUPPLIER
  ) AS _table_alias_0
  LEFT JOIN (
    SELECT
      n_nationkey AS key,
      n_name AS name
    FROM main.NATION
  ) AS _table_alias_1
    ON nation_key = key
)
WHERE
  name_3 = 'UNITED STATES'

If we need to see the **base instruction** that guided the LLM, we can.

In [22]:
print(result.base_prompt)

You are an AI tasked with converting natural language descriptions into PyDough code snippets. You will be provided with two reference files:


1. **PyDough Reference File** - This file contains the core concepts, functions, and syntax of PyDough.
{script_content}

2. **Database Structure Reference File** - This file outlines the database schema, collections, fields, and relationships.
{database_content}

Your objective is to analyze the provided natural language description that outlines a database query or manipulation task and generate a corresponding PyDough code snippet that adheres to the syntax and structure in the PyDough Reference File.

**Instructions:**
1. Extract the main components of the natural language description to identify the database query or manipulation required.
2. Generate PyDough code that:
   - Uses clear and concise syntax using the correct functions, parameters, and structure.
   - Avoids the bad examples reference in the Pydough Reference File
   - Properly references fields and tables as defined in the Database Structure Reference File.
   - Includes comments for any complex operations, where necessary.
   - Assigns the final query to a variable.
   - Ensures proper indentation.
   - Follows the rules for using contextless expressions properly.
   - Adheres to the syntax and structure outlined in the PyDough Reference File.
   - Returns only the exact data requested, without adding additional fields or information.

3. Determine if GROUP_BY is necessary: If it is not required, explore alternative methods such as CALCULATE or aggregations to achieve the desired result. If GROUP_BY is truly needed, then use it appropriately.

4. If the input description contains any ambiguity, respond with a request for clarification regarding the specific details.

5. The generated code should be in a python block
Use this structure to ensure clarity, consistency, and adherence to PyDough syntax in your outputs.

We also have a reference guide or **cheat_sheet** with example queries to help structure responses.

In [23]:
print(result.cheat_sheet)

# PYDOUGH CHEAT SHEET

**1. COLLECTIONS & SUB-COLLECTIONS**

- **Syntax**: Access collections/sub-collections using dot notation.

- **Examples**:
  - `People` → Access all records in the 'People' collection.
  - `People.current_address` → Access current addresses linked to people.
  - `Packages.customer` → Access customers linked to packages.

- **Warnings**:
  - Sub-collections must exist in the metadata graph (e.g., `People.packages` is valid; undefined sub-collections like `People.orders` are invalid).
  - Avoid reassigning collection names to variables (e.g., `Addresses = 42` breaks subsequent access).

**2. CALCULATE EXPRESSIONS**

- **Purpose**: Derive new fields, rename existing ones or select specific fields.
  The value of one of these terms in a `CALCULATE` must be expressions that are singular with regards to the current context. That can mean:
  - Referencing one of the scalar properties of the current collection.
  - Creating a literal.
  - Referencing a singular expression of a sub-collection of the current collection that is singular with regards to the current collection.
  - Calling a non-aggregation function on more singular expressions.
  - Calling an aggregation function on a plural expression.
- **Syntax**:
  Collection.CALCULATE(field=expression, ...)

- **Examples**:

  - **Select fields**:
    People.CALCULATE(first_name=first_name, last_name=last_name)

  - **Derived fields**:
    Packages.CALCULATE(
        customer_name=JOIN_STRINGS(' ', customer.first_name, customer.last_name),
        cost_per_unit=package_cost / quantity
    )

**Good Example #1**: For every person, fetch just their first name and last name.

People.CALCULATE(first_name, last_name)

**Good Example #2**: For every package, fetch the package id, the first and last name of the person who ordered it, and the state that it was shipped to. Also, include a field named `secret_key` that is always equal to the string `"alphabet soup"`.

Packages.CALCULATE(
    package_id,
    first_name=customer.first_name,
    last_name=customer.last_name,
    shipping_state=shipping_address.state,
    secret_key="alphabet soup",
)

**Good Example #3**: For every person, find their full name (without the middle name) and count how many packages they purchased.

People.CALCULATE(
    name=JOIN_STRINGS("", first_name, last_name),
    n_packages_ordered=COUNT(packages),
)

**Good Example #4**: For every person, find their full name including the middle name if one exists, as well as their email. Notice that two CALCs are present, but only the terms from the second one are part of the answer.

People.CALCULATE(
    has_middle_name=PRESENT(middle_name)
    full_name_with_middle=JOIN_STRINGS(" ", first_name, middle_name, last_name),
    full_name_without_middle=JOIN_STRINGS(" ", first_name, last_name),
).CALCULATE(
    full_name=IFF(has_middle_name, full_name_with_middle, full_name_without_middle),
    email=email,
)

**Good Example #5**: For every person, find the year of the most recent package they purchased and the year of their first package purchase.

People.CALCULATE(
    most_recent_package_year=YEAR(MAX(packages.order_date)),
    first_ever_package_year=YEAR(MIN(packages.order_date)),
)

**Good Example #6**: Count how many people, packages, and addresses are known in the system.

GRAPH.CALCULATE(
    n_people=COUNT(People),
    n_packages=COUNT(Packages),
    n_addresses=COUNT(Addresses),
)

**Good Example #7**: For each package, list the package id and whether the package was shipped to the current address of the person who ordered it.

Packages.CALCULATE(
    package_id,
    shipped_to_curr_addr=shipping_address.address_id == customer.current_address.address_id
)

**WRONG USES:**
**Bad Example #1**: For each person, list their first name, last name, and phone number. This is invalid because `People` does not have a property named `phone_number`.

People.CALCULATE(first_name, last_name, phone_number)

**Bad Example #2**: For each person, list their combined first & last name followed by their email. This is invalid because a positional argument is included after a keyword argument.

People.CALCULATE(
    full_name=JOIN_STRINGS(" ", first_name, last_name),
    email
)

**Bad Example #3**: For each person, list the address_id of packages they have ordered. This is invalid because `packages` is a plural property of `People`, so its properties cannot be included in a `CALCULATE` term of `People` unless aggregated.

People.CALCULATE(packages.address_id)

**Bad Example #4**: For each person, list their first/last name followed by the concatenated city/state name of their current address. This is invalid because `current_address` is a plural property of `People`, so its properties cannot be included in a `CALCULATE` term of `People` unless aggregated.

People.CALCULATE(
    first_name,
    last_name,
    location=JOIN_STRINGS(", ", current_address.city, current_address.state),
)

**Bad Example #5**: For each address, find whether the state name starts with `"C"`. This is invalid because it calls the builtin Python `.startswith` string method, which is not supported in PyDough (should have instead used a defined PyDough behavior, like the `STARTSWITH` function).

Addresses.CALCULATE(is_c_state=state.startswith("c"))

**Bad Example #6**: For each address, find the state bird of the state it is in. This is invalid because the `state` property of each record of `Addresses` is a scalar expression, not a subcolleciton, so it does not have any properties that can be accessed with `.` syntax.

Addresses.CALCULATE(state_bird=state.bird)

**Bad Example #7**: For each current occupant of each address, list their first name, last name, and city/state they live in. This is invalid because `city` and `state` are not properties of the current collection (`People`, accessed via `current_occupants` of each record of `Addresses`).

Addresses.current_occupants.CALCULATE(first_name, last_name, city, state)

**Bad Example #8**: For each person include their ssn and current address. This is invalid because a collection cannot be a `CALCULATE` term, and `current_address` is a sub-collection property of `People`. Instead, properties of `current_address` can be accessed.

People.CALCULATE(ssn, current_address)

**Bad Example #9**: For each person, list their first name, last name, and the sum of the package costs. This is invalid because `SUM` is an aggregation function and cannot be used in a `CALCULATE` term without specifying the sub-collection it should be applied to.

People.CALCULATE(first_name, last_name, total_cost=SUM(package_cost))

**Bad Example #9**: For each person, list their first name, last name, and the ratio between the cost of all packages they apply ordered and the number of packages they ordered. This is invalid the `total_cost` and `n_packages` are used to define `ratio` in the same `CALCULATE` where they are defined.

People.CALCULATE(
    first_name,
    last_name,
    total_cost=SUM(packages.package_cost),
    n_packages=COUNT(packages),
    ratio=total_cost/n_packages,
)

**Bad Example #10**: Find the total orders placed by region in 1996. This is invalid since `customers` has no field called `orders_1996`. The variable `orders_1996` can only be used to substitute in a contextless expression, not to access a subcollection of a current context.

orders_1996 = orders.WHERE(YEAR(order_date) == 1996)
total_orders_in_1996 = regions.CALCULATE(
    region_name=name,
    total_orders=COUNT(nations.customers.orders_1996)
).TOP_K(1, by=total_orders.DESC())

**Bad Example #11**: Find the total orders placed and total discount by region in 1996. This is invalid since `customers` has no field called `orders_1996`. The variable `orders_1996` can only be used to substitute in a contextless expression, not to access a subcollection of a current context.

orders_1996 = orders.WHERE(YEAR(order_date) == 1996)
total_orders_in_1996 = regions.CALCULATE(
    region_name=name,
    total_orders=COUNT(nations.customers.orders_1996)
    total_discount=SUM(nations.customers.orders_1996.lines.discount)
).TOP_K(1, by=total_orders.DESC())

- **Rules**:
  - Use aggregation functions (e.g., SUM, COUNT) for plural sub-collections.
  - Positional arguments must precede keyword arguments.
  - Terms defined in a CALCULATE do not take effect until after the CALCULATE completes.
  - Existing terms not included in a CALCULATE can still be referenced but are not part of the final result unless included in the last CALCULATE clause.
  - A CALCULATE on the graph itself creates a collection with one row and columns corresponding to the properties inside the CALCULATE.
  - Avoid using collections directly in a CALCULATE term

**3. FILTERING (WHERE)**

- **Syntax**: .WHERE(condition)

- **Examples**:

  - **Filter people with negative account balance**:
    People.WHERE(acctbal < 0)

  - **Filter packages ordered in 2023**:
    Packages.WHERE(YEAR(order_date) == 2023)

  - **Filter addresses with occupants**:
    Addresses.WHERE(HAS(current_occupants))

- **Warnings**:
  - Use & (AND), | (OR), ~ (NOT) instead of and, or, not.
  - Avoid chained comparisons (e.g., replace a < b < c with (a < b) & (b < c)).

**4. SORTING (ORDER_BY)**

- **Syntax**: .ORDER_BY(field.ASC()/DESC(), ...)

- **Examples**:

  - **Alphabetical sort**:
    People.ORDER_BY(last_name.ASC(), first_name.ASC())

  - **Most expensive packages first**:
    Packages.ORDER_BY(package_cost.DESC())

- **Parameters**:

  .ASC(na_pos='last') → Sort ascending, nulls last.

  .DESC(na_pos='first') → Sort descending, nulls first.

**5. SORTING (TOP_K)**

- **Select top k records.**

- **Syntax:**
  .TOP_K(k, by=field.DESC())

- **Params:**
  k= the number of records to return
  by= he field to sort by, with optional sorting order
- **Example:**
  Top 10 customers by orders count:
  customers.TOP_K(10, by=COUNT(orders).DESC())

**6. AGGREGATION FUNCTIONS**

- **COUNT(collection)**: Count non-null records.
  Example: COUNT(People.packages)

- **SUM(collection)**: Sum values.
  Example: SUM(Packages.package_cost)

- **AVG(collection)**: Average values.
  Example: AVG(Packages.quantity)

- **MIN/MAX(collection)**: Min/Max value.
  Example: MIN(Packages.order_date)

- **NDISTINCT(collection)**: Distinct count.
  Example: NDISTINCT(Addresses.state)

- **HAS(collection)**: True if ≥1 record exists.
  Example: HAS(People.packages)

- **HASNOT(collection)**: True if collection is empty.
  Example: HASNOT(orders)

**Rules**: Aggregations Function does not support calling aggregations inside of aggregations

**7. grouping (GROUP_BY)**

- **Purpose**: Group records by keys.

- **Syntax**: GROUP_BY(Collection, name='group_name', by=(key1, key2))

- **Good Examples**:

  - **Group addresses by state and count occupants**:
    GROUP_BY(Addresses, name='addrs', by=state).CALCULATE(
        state,
        total_occupants=COUNT(addrs.current_occupants)
    )

  - **Group packages by year/month**:
    GROUP_BY(Packages, name='packs', by=(YEAR(order_date), MONTH(order_date)))

- **WRONG USES**:
  - **group by people by their birth year to find the number of people born in each year**: Invalid because the email property is referenced, which is not one of the properties accessible by the group by.

    GROUP_BY(People(birth_year=YEAR(birth_date)), name=\"ppl\", by=birth_year).CALCULATE(
        birth_year,
        email,
        n_people=COUNT(ppl)
    )


  - **Count how many packages were ordered in each year**: Invalid because YEAR(order_date) is not allowed to be used as a group by term (it must be placed in a CALCULATE so it is accessible as a named reference).

     GROUP_BY(Packages, name=\"packs\", by=YEAR(order_date)).CALCULATE(
        n_packages=COUNT(packages)
    )


  - **Count how many people live in each state**: Invalid because current_address.state is not allowed to be used as a group by term (it must be placed in a CALCULATE so it is accessible as a named reference).

    GROUP_BY(People, name='ppl', by=current_address.state).CALCULATE(
        n_packages=COUNT(packages)
    )

     suppliers_with_brass_parts = GROUP_BY(suppliers, name='supplier_group', by=(name, nation.name)).CALCULATE(
        supplier_name=name,
        nation_name=nation.name,
        total_quantity=SUM(supplier_group.supply_records.part.WHERE(CONTAINS(part_type, 'BRASS')).lines.quantity)
    ).WHERE(total_quantity > 1000)


- **Rules**:
  - GROUP_BY keys must be scalar fields from the collection.
  - You must use Aggregation functions to call plural values inside GROUP_BY.
  - Within a group_by, you must use the `name` argument to be able to access any property or subcollections.
  - Functions, expressions, or transformations (e.g., YEAR(order_date)) cannot be used directly in GROUP_BY Instead, create a named reference using CALCULATE before using it in GROUP_BY.
  - Directly referencing nested attributes (e.g., table.column.subfield) in GROUP_BY is not allowed.
  - Assign the nested value to a named reference using CALCULATE before grouping.
  - All terms in a grouping or grouping expression must be singular. Plural expressions, such as lines.part.name, refer to multiple values and cannot be used directly. Instead, aggregate the datas

**8. WINDOW FUNCTIONS**

- **RANKING:**
  - **Syntax**: RANKING(by=field.DESC(), levels=1, allow_ties=False)
  - *   Parameters:

    *   by: Ordering criteria (e.g., acctbal.DESC()).

    *   levels: Hierarchy level (e.g., levels=1 for per-nation ranking).

    *   allow\_ties (default False): Allow tied ranks.

    *   dense (default False): Use dense ranking.

  - *   Example:Nations.customers(r = RANKING(by=acctbal.DESC(), levels=1))

  - **Example**: Rank customers by balance per nation:
    Customers(r=RANKING(by=acctbal.DESC(), levels=1))

- **PERCENTILE:**

  - **Syntax**: PERCENTILE(by=field.ASC(), n_buckets=100)
  - *   Parameters:

    *   by: Ordering criteria.

    *   levels: Hierarchy level.

    *   n\_buckets (default 100): Number of percentile buckets.

  - *   Example:Customers.WHERE(PERCENTILE(by=acctbal.ASC(), n\_buckets=1000) == 1000).

  - **Example**: Filter top 5% by account balance:
    Customers.WHERE(PERCENTILE(by=acctbal.ASC()) > 95)

**9. CONTEXTLESS EXPRESSIONS**

- **Purpose**: Reusable code snippets.

- **Example**: Define and reuse filters:

  is_high_value = package_cost > 1000
  high_value_packages = Packages.WHERE(is_high_value)

  is_february = MONTH(order_date) == 2

  february_value = KEEP_IF(package_cost, is_february)
  aug_packages = packages.CALCULATE(
      is_february=is_february,
      february_value=february_value,
      is_valentines_day=is_february & (DAY(order_date) == 14)
  )
  n_feb_packages = SUM(aug_packages.is_february)
  People.CALCULATE(
      ssn,
      total_february_value=SUM(aug_packages.february_value),
      n_february_packages=n_feb_packages,
      most_expensive_february_package=MAX(aug_packages.february_value),
      pct_valentine=n_feb_packages / SUM(aug_packages.is_valentines_day)
  )
- **Rules**:
  - Only use them in contexts where all referenced fields exist.
  - Use variables only as expression substitutes, not for accessing non-existent subcollections.
  - Each contextless expression should represent a complete calculation.
  - Only use with collections containing all required fields.
  - Using a contextless expression should work the same as writing the code directly in-context.
  - Don't use to define standalone collection operations without proper context.

**BINARY OPERATORS****Arithmetic**

*   Operators: +, -, \*, /, \*\* (addition, subtraction, multiplication, division, exponentiation).

*   Example:Lineitems(value = (extended\_price \* (1 - (discount \*\* 2)) + 1.0) / part.retail\_price)

*   Warning: Division by 0 behavior depends on the database.


**Comparisons**

*   Operators: <=, <, ==, !=, >, >=.

*   Example:Customers(in\_debt = acctbal < 0, is\_european = nation.region.name == "EUROPE")

*   Warning: Avoid chained inequalities (e.g., a <= b <= c). Use (a <= b) & (b <= c) or MONOTONIC.


**Logical**

*   Operators: & (AND), | (OR), ~ (NOT).

*   Example:Customers(is\_eurasian = (nation.region.name == "ASIA") | (nation.region.name == "EUROPE"))

*   Warning: Use &, |, ~ instead of Python’s and, or, not.


**UNARY OPERATORS****Negation**

*   Operator: - (flips sign).

*   Example:Lineitems(lost\_value = extended\_price \* (-discount))


**OTHER OPERATORS****Slicing**

*   Syntax: string\[start:stop:step\].

*   Example:Customers(country\_code = phone\[:3\])

*   Restrictions: step must be 1 or omitted; start/stop non-negative or omitted.


**STRING FUNCTIONS**

*   LOWER(s): Converts string to lowercase.Example: LOWER(name) → "apple".

*   UPPER(s): Converts string to uppercase.Example: UPPER(name) → "APPLE".

*   LENGTH(s): Returns character count.Example: LENGTH(comment) → 42.

*   STARTSWITH(s, prefix): Checks prefix match.Example: STARTSWITH(name, "yellow") → True/False.

*   ENDSWITH(s, suffix): Checks suffix match.Example: ENDSWITH(name, "chocolate") → True/False.

*   CONTAINS(s, substr): Checks substring presence.Example: CONTAINS(name, "green") → True/False.

*   LIKE(s, pattern): SQL-style pattern matching (%, \_).Example: LIKE(comment, "%special%") → True/False.

*   JOIN\_STRINGS(delim, s1, s2, ...): Joins strings with a delimiter.Example: JOIN\_STRINGS("-", "A", "B") → "A-B".


**DATETIME FUNCTIONS**

*   YEAR(dt): Extracts year.Example: YEAR(order\_date) == 1995.

*   MONTH(dt): Extracts month (1-12).Example: MONTH(order\_date) >= 6.

*   DAY(dt): Extracts day (1-31).Example: DAY(order\_date) == 1.

*   HOUR(dt): Extracts hour (0-23).Example: HOUR(order\_date) == 12.

*   MINUTE(dt): Extracts minute (0-59).Example: MINUTE(order\_date) == 30.

*   SECOND(dt): Extracts second (0-59).Example: SECOND(order\_date) < 30.

* DATETIME: The DATETIME function is used to build/augment date/timestamp values. The first argument is the base date/timestamp, and it can optionally take in a variable number of modifier arguments.

    - The base argument can be one of the following: A string literal indicating that the current timestamp should be built, which has to be one of the following: `now`, `current_date`, `current_timestamp`, `current date`, `current timestamp`. All of these aliases are equivalent, case-insensitive, and ignore leading/trailing whitespace.
    - A column of datetime data.

  The modifier arguments can be the following (all of the options are case-insensitive and ignore leading/trailing/extra whitespace):

  - A string literal in the format `start of <UNIT>` indicating to truncate the datetime value to a certain unit, which can be the following:
    - Years: Supported aliases are "years", "year", and "y".
    - Months: Supported aliases are "months", "month", and "mm".
    - Days: Supported aliases are "days", "day", and "d".
    - Hours: Supported aliases are "hours", "hour", and "h".
    - Minutes: Supported aliases are "minutes", "minute", and "m".
    - Seconds: Supported aliases are "seconds", "second", and "s".

  - A string literal in the form `±<AMT> <UNIT>` indicating to add/subtract a date/time interval to the datetime value. The sign can be `+` or `-`, and if omitted the default is `+`. The amount must be an integer. The unit must be one of the same unit strings allowed for truncation. For example, "Days", "DAYS", and "d" are all treated the same due to case insensitivity.

  If there are multiple modifiers, they operate left-to-right.
  Usage examples:

  # Returns the following datetime moments:
  # 1. The current timestamp
  # 2. The start of the current month
  # 3. Exactly 12 hours from now
  # 4. The last day of the previous year
  # 5. The current day, at midnight
  TPCH.CALCULATE(
    ts_1=DATETIME('now'),
    ts_2=DATETIME('NoW', 'start of month'),
    ts_3=DATETIME(' CURRENT_DATE ', '12 hours'),
    ts_4=DATETIME('Current Timestamp', 'start of y', '- 1 D'),
    ts_5=DATETIME('NOW', '  Start  of  Day  '),

And if we want to understand the collections and relationships used, we can check the Pydough **metadata**.

In [24]:
print(result.knowledge_graph)

### The `customers` collection contains the following columns:
- **acctbal**: The account balance of the customer.
- **address**: The address of the customer.
- **comment**: Additional comments or notes about the customer.
- **key**: A unique identifier for the customer.
- **mktsegment**: The market segment the customer belongs to.
- **name**: The name of the customer.
- **nation_key**: A foreign key referencing the `nations` collection.
- **phone**: The customer's phone number.
- **nation**: The corresponding nation of the customer (reverse of `nations.customers`).
- **orders**: A list of all orders placed by the customer (reverse of `orders.customer`).

### The `lines` collection contains the following columns:
- **comment**: Additional comments or notes about the line item.
- **commit_date**: The committed delivery date for the line item.
- **discount**: The discount applied to the line item.
- **extended_price**: The extended price of the line item.
- **line_number**: The line number within the order.
- **order_key**: A foreign key referencing the `orders` collection.
- **part_key**: A foreign key referencing the `parts` collection.
- **quantity**: The quantity ordered.
- **receipt_date**: The date the line item was received.
- **return_flag**: A flag indicating whether the item was returned.
- **ship_date**: The shipping date of the line item.
- **ship_instruct**: Shipping instructions for the line item.
- **ship_mode**: The shipping mode for the line item.
- **status**: The status of the line item.
- **supplier_key**: A foreign key referencing the `suppliers` collection.
- **tax**: The tax applied to the line item.
- **order**: The corresponding order for this line item (reverse of `orders.lines`).
- **part**: The corresponding part for this line item (reverse of `parts.lines`).
- **part_and_supplier**: The corresponding supply record (reverse of `supply_records.lines`).
- **supplier**: The corresponding supplier for this line item (reverse of `suppliers.lines`).

### The `nations` collection contains the following columns:
- **comment**: Additional notes or descriptions about the nation.
- **key**: A unique identifier for the nation.
- **name**: The name of the nation.
- **region_key**: A foreign key referencing the `regions` collection.
- **customers**: A list of customers associated with this nation (reverse of `customers.nation`).
- **region**: The corresponding region this nation belongs to (reverse of `regions.nations`).
- **suppliers**: A list of suppliers associated with this nation (reverse of `suppliers.nation`).

### The `orders` collection contains the following columns:
- **clerk**: The name of the clerk handling the order.
- **comment**: Additional comments or notes about the order.
- **customer_key**: A foreign key referencing the `customers` collection.
- **key**: A unique identifier for the order.
- **order_date**: The date when the order was placed.
- **order_priority**: The priority level of the order (e.g., 'HIGH', 'LOW').
- **order_status**: The current status of the order (e.g., 'PENDING', 'SHIPPED').
- **ship_priority**: The priority level for shipping.
- **total_price**: The total price of the order.
- **customer**: The corresponding customer who placed the order (reverse of `customers.orders`).
- **lines**: A list of all line items in this order (reverse of `lines.order`).

### The `parts` collection contains the following columns:
- **brand**: The brand of the part.
- **comment**: Additional notes or descriptions about the part.
- **container**: The type of container used for packaging the part.
- **key**: A unique identifier for the part.
- **manufacturer**: The manufacturer of the part.
- **name**: The name of the part.
- **part_type**: The type or category of the part.
- **retail_price**: The retail price of the part.
- **size**: The size of the part.
- **lines**: A list of all line items that include this part (reverse of `lines.part`).
- **supply_records**: A list of all supply records for this part (reverse of `supply_records.part`).

### The `regions` collection contains the following columns:
- **comment**: Additional notes or descriptions about the region.
- **key**: A unique identifier for the region.
- **name**: The name of the region.
- **nations**: A list of all nations within this region (reverse of `nations.region`).

### The `suppliers` collection contains the following columns:
- **account_balance**: The account balance of the supplier.
- **address**: The address of the supplier.
- **comment**: Additional notes or descriptions about the supplier.
- **key**: A unique identifier for the supplier.
- **name**: The name of the supplier.
- **nation_key**: A foreign key referencing the `nations` collection.
- **phone**: The supplier's phone number.
- **lines**: A list of all line items supplied by this supplier (reverse of `lines.supplier`).
- **nation**: The corresponding nation of the supplier (reverse of `nations.suppliers`).
- **supply_records**: A list of all supply records for this supplier (reverse of `supply_records.supplier`).

### The `supply_records` collection contains the following columns:
- **availqty**: The available quantity of the part supplied.
- **comment**: Additional notes or descriptions about the supply record.
- **part_key**: A foreign key referencing the `parts` collection.
- **supplier_key**: A foreign key referencing the `suppliers` collection.
- **supplycost**: The cost of supplying this part.
- **lines**: A list of all line items that reference this supply record (reverse of `lines.part_and_supplier`).
- **part**: The corresponding part for this supply record (reverse of `parts.supply_records`).
- **supplier**: The corresponding supplier for this supply record (reverse of `suppliers.supply_records`).

### Retrieving Customers for a Nation
To get all customers from a specific nation:
```python
nation_customers = nations.customers.CALCULATE(acctbal, address, comment, key, mktsegment, name, nation_key, phone)
```

### Retrieving the Region for a Nation
For each nation, the corresponding region can be accessed as follows:
```python
nation_region = nations.region.CALCULATE(commnet, key, name)
```

### Retrieving Nations for a Region
To get all nations within a specific region:
```python
region_nations = regions.nations.CALCULATE(comment, key, name, region_key)
```

### Retrieving the Customer for an Order
For each order, the corresponding customer can be accessed as follows:
```python
customer_for_order = orders.customer.CALCULATE(acctbal, address, comment, key, mktsegment, name, nation_key, phone)
```
This allows you to navigate from an order to the customer who placed it.

### Retrieving Orders per Customer
To join all the orders for each customer:
```python
orders_per_customer = customers.orders.CALCULATE(order_key, customer_key, order_status, total_price, order_date, order_priority, clerk, ship_priority, comment)
```

### Retrieving Orders in each nation
To join all the orders you have to join first each customer in each nation like this:
```python
orders_per_customer_in_each_nation = nations.customers.orders.CALCULATE(order_key, customer_key, order_status,total_price, order_date, order_priority, clerk, ship_priority, comment)
```

### Retrieving Suppliers for a Nation
To retrieve all suppliers located in a given nation:
```python
suppliers_in_nation = nations.suppliers.CALCULATE(account_balance, address, comment, key, name, nation_key, phone)
```
### Retrieving Lines for an Order
To retrieve all line items for a given order:
```python
lines_for_order = orders.lines.CALCULATE(comment, commit_date, discount, extended_price, line_number, order_key, part_key, quantity, receipt_date, return_flag, ship_date, ship_instruct, ship_mode, status, supplier_key, tax)
```
### Retrieving the Order for a Line
To retrieve the order associated with a line item, you can query the lines object with the necessary fields:
```python
order_for_line = lines.order.CALCULATE(order_key, customer_key, order_status, total_price, order_date, order_priority, clerk, ship_priority, comment)
```
### Retrieving Parts for a Supplier
To retrieve all parts supplied by a specific supplier:
```python
parts_for_supplier = suppliers.supply_records.part.CALCULATE(brand, comment, container, key, manufacturer, name, part_type, retail_price, size)
```

### Retrieving Suppliers for a Part
To retrieve all suppliers that supply a specific part
```python
suppliers_for_part = parts.supply_records.supplier.CALCULATE(account_balance, address, comment, key, name, nation_key, phone)
```

### Retrieving Suppliers for a Nation
To retrieve all suppliers located in a given nation:
```python
suppliers_in_nation = nations.suppliers.CALCULATE(account_balance, address, comment, key, name, nation_key, phone)
```

The next example is one with an **exception**.

In [25]:
result= client.ask("For each of the 5 largest part sizes, find the part of that size with the largest retail price")

print(result.full_explanation)

I'll analyze this request and create a PyDough code snippet to find the part with the largest retail price for each of the 5 largest part sizes.

First, I need to:
1. Group parts by their size
2. For each size, find the part with the highest retail price
3. Sort by part size in descending order
4. Take only the top 5 sizes

Here's the PyDough code to accomplish this:

```python
# First, calculate the maximum retail price for each part size
max_price_by_size = GROUP_BY(parts.CALCULATE(size=size, retail_price=retail_price),
                            name="parts_group",
                            by=size).CALCULATE(
    size=size,
    max_retail_price=MAX(parts_group.retail_price)
)

# Join back to the parts collection to get the part details with the maximum retail price
parts_with_max_price = parts.CALCULATE(
    size=size,
    name=name,
    retail_price=retail_price,
    part_key=key
).WHERE(
    (size == max_price_by_size.size) &
    (retail_price == max_price_by_size.max_retail_price)
)

# Get the top 5 largest part sizes with their highest retail price parts
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

This code first groups parts by size and calculates the maximum retail price for each size. Then it joins this information back to the parts collection to get the details of the parts that have the maximum retail price for their size. Finally, it selects the top 5 parts based on descending size.

If one calls the dataframe and gets an error, no response, or a empty dataframe, it is possible that there is a PyDough exception. We can check this by running:

In [26]:
print(result.exception)

An error occurred while processing the code: Unrecognized term of simple table collection 'parts' in graph 'TPCH': 'parts'

You can try to fix the error using the `correct` method. We are going to declare a new variable to obtain the corrected result.

In [27]:
corrected_result = client.correct(result)

To see how the model try to solve the issue, you can print the full explanation of the `corrected_result`.

In [28]:
print(corrected_result.full_explanation)

I see the issue with the code. The error message indicates that the collection 'parts' is not recognized in the graph 'TPCH'. Looking at the database structure reference file, I can see that the correct collection name is indeed available, but there's an issue with how we're accessing it.

Let me fix the code:

```python
# First, calculate the maximum retail price for each part size
max_price_by_size = GROUP_BY(parts.CALCULATE(size=size, retail_price=retail_price),
                            name="parts_group",
                            by=size).CALCULATE(
    size=size,
    max_retail_price=MAX(parts_group.retail_price)
)

# Join back to the parts collection to get the part details with the maximum retail price
parts_with_max_price = parts.CALCULATE(
    size=size,
    name=name,
    retail_price=retail_price,
    part_key=key
).WHERE(
    retail_price == max_price_by_size.WHERE(size == parts.size).max_retail_price
)

# Get the top 5 largest part sizes with their highest retail price parts
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

Wait, I need to reconsider this approach. The error suggests that 'parts' is not recognized as a collection. Let me rewrite the solution from scratch:

```python
# First, calculate the maximum retail price for each part size
parts_with_size = parts.CALCULATE(
    size=size,
    retail_price=retail_price
)

max_price_by_size = GROUP_BY(parts_with_size,
                            name="parts_group",
                            by=size).CALCULATE(
    size=size,
    max_retail_price=MAX(parts_group.retail_price)
)

# Join back to the parts collection to get the part details with the maximum retail price
parts_with_max_price = parts.CALCULATE(
    size=size,
    name=name,
    retail_price=retail_price
).WHERE(
    (size == max_price_by_size.size) &
    (retail_price == max_price_by_size.max_retail_price)
)

# Get the top 5 largest part sizes with their highest retail price parts
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

I'm still seeing an issue with the approach. Let me simplify and ensure we're using the correct collection name:

```python
# For each of the 5 largest part sizes, find the part of that size with the largest retail price

# First, get all parts with their size and retail price
parts_info = parts.CALCULATE(
    part_name=name,
    size=size,
    retail_price=retail_price
)

# Group by size to find the maximum retail price for each size
max_price_by_size = GROUP_BY(parts_info, name="size_group", by=size).CALCULATE(
    size=size,
    max_price=MAX(size_group.retail_price)
)

# Find parts that match the maximum price for their size
parts_with_max_price = parts.CALCULATE(
    size=size,
    part_name=name,
    retail_price=retail_price
).WHERE(
    retail_price == max_price_by_size.WHERE(size == parts.size).max_price
)

# Get the top 5 largest sizes
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

I'm still not satisfied with the approach. Let me create a more direct solution:

```python
# For each of the 5 largest part sizes, find the part of that size with the largest retail price

# Step 1: Get the 5 largest part sizes
largest_sizes = parts.CALCULATE(size=size).TOP_K(5, by=size.DESC())

# Step 2: For each of these sizes, find the part with the maximum retail price
result = parts.CALCULATE(
    size=size,
    part_name=name,
    retail_price=retail_price
).WHERE(
    ISIN(size, largest_sizes.size)
).TOP_K(1, by=retail_price.DESC())
```

I'm still not capturing the requirement correctly. Let me try one more approach:

```python
# For each of the 5 largest part sizes, find the part of that size with the largest retail price

# Step 1: Get all parts with their size and retail price
parts_info = parts.CALCULATE(
    part_name=name,
    size=size,
    retail_price=retail_price
)

# Step 2: Find the maximum retail price for each size
max_price_by_size = GROUP_BY(parts_info, name="size_group", by=size).CALCULATE(
    size=size,
    max_retail_price=MAX(size_group.retail_price)
)

# Step 3: Join back to get parts that match the maximum price for their size
parts_with_max_price = parts.CALCULATE(
    size=size,
    part_name=name,
    retail_price=retail_price
).WHERE(
    retail_price == max_price_by_size.WHERE(size == parts.size).max_retail_price
)

# Step 4: Get the top 5 parts with the largest sizes
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

Let me simplify this further to ensure it works correctly:

```python
# For each of the 5 largest part sizes, find the part with the largest retail price

# Step 1: Get distinct part sizes and sort to find the 5 largest
top_5_sizes = parts.CALCULATE(size=size).TOP_K(5, by=size.DESC())

# Step 2: For each size, find the part with the maximum retail price
result = GROUP_BY(parts.CALCULATE(
    part_name=name,
    size=size,
    retail_price=retail_price
).WHERE(ISIN(size, top_5_sizes.size)), name="size_group", by=size).CALCULATE(
    size=size,
    part_name=MAX_BY(size_group.part_name, size_group.retail_price),
    max_retail_price=MAX(size_group.retail_price)
).ORDER_BY(size.DESC())
```

I notice I'm using MAX_BY which might not be available. Let me try a different approach:

```python
# For each of the 5 largest part sizes, find the part with the largest retail price

# Step 1: Get the 5 largest part sizes
top_5_sizes = parts.CALCULATE(size=size).TOP_K(5, by=size.DESC())

# Step 2: For each size in the top 5, find all parts with that size
parts_with_top_sizes = parts.CALCULATE(
    part_name=name,
    size=size,
    retail_price=retail_price
).WHERE(ISIN(size, top_5_sizes.size))

# Step 3: Group by size and find the part with maximum retail price for each size
result = GROUP_BY(parts_with_top_sizes, name="size_group", by=size).CALCULATE(
    size=size,
    max_retail_price=MAX(size_group.retail_price)
).CALCULATE(
    size=size,
    max_retail_price=max_retail_price,
    part_details=parts_with_top_sizes.WHERE(
        (size == result.size) &
        (retail_price == result.max_retail_price)
    ).CALCULATE(part_name=part_name)
).ORDER_BY(size.DESC())
```

I'm still not getting the approach right. Let me try one more time with a cleaner solution:

```python
# For each of the 5 largest part sizes, find the part with the largest retail price

# Step 1: Calculate size and retail price for all parts
parts_with_details = parts.CALCULATE(
    part_name=name,
    size=size,
    retail_price=retail_price
)

# Step 2: Group by size to find the maximum retail price for each size
max_price_by_size = GROUP_BY(parts_with_details, name="size_group", by=size).CALCULATE(
    size=size,
    max_price=MAX(size_group.retail_price)
)

# Step 3: Find parts that match the maximum price for their size
parts_with_max_price = parts_with_details.WHERE(
    retail_price == max_price_by_size.WHERE(size == parts_with_details.size).max_price
)

# Step 4: Get the top 5 parts with the largest sizes
largest_parts_by_size = parts_with_max_price.TOP_K(5, by=size.DESC())
```

Note: You can try this as many times as you like if an exception keeps ocurring.

## Test Cases

### Customer Segmentation.

#### 1. Find the names of all customers and the number of orders placed in 1995 in Europe.

Demonstrates simple filtering, counting, and sorting while being business-relevant for regional market analysis. Adds a second filtering layer by including account balance and order activity, making it more dynamic.

In [29]:
query= "Find the names of all customers and the number of orders placed in 1995 in Europe."

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find the names of all customers and the number of orders they placed in 1995 in Europe.

```python
# Find customers in Europe
# Count orders placed in 1995 for each customer
european_customers_1995_orders = customers.WHERE(
    nation.region.name == "EUROPE"
).CALCULATE(
    customer_name=name,
    order_count=COUNT(orders.WHERE(YEAR(order_date) == 1995))
)
```

This code:
1. Starts with the `customers` collection
2. Filters for customers in Europe using the `WHERE` clause
3. Uses `CALCULATE` to:
   - Include the customer name
   - Count the number of orders placed in 1995 using a nested `WHERE` clause with the `YEAR` function

The result will contain two columns: `customer_name` and `order_count` for all European customers, showing how many orders each placed in 1995.

        customer_name  order_count
0  Customer#000000011            1
1  Customer#000000015            0
2  Customer#000000018            0
3  Customer#000000020            3
4  Customer#000000026            2

**Follow up**: Now, give me the ones who have an account balance greater than $700 and placed at least one order in that same year. Sorted in descending order by the number of orders.

In [30]:
result= client.discourse(result, 
"""Now, give me the ones who have an account balance greater than $700 and placed at least one order in that same year. 
Sorted in descending order by the number of orders.""")

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find European customers with account balances greater than $700 who placed at least one order in 1995, sorted by their order count in descending order.

```python
# First, identify orders placed in 1995
orders_1995 = orders.WHERE(YEAR(order_date) == 1995)

# Find European customers with account balance > $700 who placed at least one order in 1995
european_customers = customers.CALCULATE(
    customer_name=name,
    account_balance=acctbal,
    num_orders_1995=COUNT(orders.WHERE(YEAR(order_date) == 1995))
).WHERE(
    (nation.region.name == "EUROPE") &
    (acctbal > 700) &
    (num_orders_1995 > 0)
).ORDER_BY(
    num_orders_1995.DESC()
)
```

This code:
1. Creates a contextless expression for orders placed in 1995
2. Calculates each customer's name, account balance, and number of orders placed in 1995
3. Filters for customers who:
   - Are located in Europe (via the nation-region relationship)
   - Have an account balance greater than $700
   - Placed at least one order in 1995
4. Sorts the results in descending order by the number of orders placed in 1995

        customer_name  account_balance  num_orders_1995
0  Customer#000107440          2464.61               12
1  Customer#000014920          7026.03               11
2  Customer#000079606           989.51               11
3  Customer#000108496          7388.38               11
4  Customer#000009019          2247.06               10

### 2. List customers who ordered in 1996 but not in 1997, with a total spent of over 1000$?

Showcases PyDough’s HAS() and HASNOT() functions, helping analyze customer retention and spending patterns. Also incorporates a time-based calculation.

In [10]:
query= "List customers who ordered in 1996 but not in 1997 with a total spent of over 1000$ If you use HAS add a ==1 for it to work"

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find customers who ordered in 1996 but not in 1997, with a total spent of over $1000.

```python
# First, identify customers who ordered in 1996
customers_1996 = customers.WHERE(
    HAS(orders.WHERE(YEAR(order_date) == 1996)) == 1
)

# Calculate total spent in 1996 for these customers
customers_with_spend = customers_1996.CALCULATE(
    customer_key=key,
    customer_name=name,
    total_spent_1996=SUM(orders.WHERE(YEAR(order_date) == 1996).total_price),
    ordered_in_1997=HAS(orders.WHERE(YEAR(order_date) == 1997)) == 1
)

# Filter for customers who didn't order in 1997 and spent over $1000 in 1996
result = customers_with_spend.WHERE(
    (ordered_in_1997 == False) &
    (total_spent_1996 > 1000)
).CALCULATE(
    customer_key,
    customer_name,
    total_spent_1996
)
```

This code:
1. First identifies customers who placed orders in 1996
2. Calculates their total spending in 1996 and checks if they ordered in 1997
3. Filters for customers who didn't order in 1997 and spent over $1000 in 1996
4. Returns the customer key, name, and their total spending in 1996

   customer_key       customer_name  total_spent_1996
0             5  Customer#000000005          98790.79
1            17  Customer#000000017         481076.02
2            20  Customer#000000020         538764.56
3            31  Customer#000000031         720459.29
4            38  Customer#000000038         788657.01

**Follow up**: Include the number of months since the last order and sort by total spent, highest first.

In [9]:
result= client.discourse(result,
"Include the number of months since the last order and sort by total spent, highest first.")

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find customers who ordered in 1996 but not in 1997, with total spending over $1000, including the number of months since their last order, sorted by total spent in descending order.

```python
# First, identify customers who ordered in 1996
customers_1996 = customers.WHERE(
    HAS(orders.WHERE(YEAR(order_date) == 1996)) == 1
)

# Then filter to exclude those who ordered in 1997
target_customers = customers_1996.WHERE(
    HAS(orders.WHERE(YEAR(order_date) == 1997)) == 0
)

# Calculate total spent and months since last order
result = target_customers.CALCULATE(
    customer_name=name,
    total_spent=SUM(orders.total_price),
    last_order_date=MAX(orders.order_date),
    months_since_last_order=DATEDIFF("months", MAX(orders.order_date), DATETIME("now"))
).WHERE(
    total_spent > 1000
).ORDER_BY(
    total_spent.DESC()
)
```

This code:
1. First identifies customers who placed orders in 1996
2. Then filters out those who also placed orders in 1997
3. Calculates the total amount spent by each customer
4. Determines the date of their last order
5. Calculates the number of months between their last order and the current date
6. Filters to only include customers who spent more than $1000
7. Sorts the results by total spent in descending order (highest first)

        customer_name  total_spent last_order_date  months_since_last_order
0  Customer#000001948   5614411.17      1998-06-26                      321
1  Customer#000047401   5262679.14      1998-04-03                      323
2  Customer#000094354   5234152.55      1998-07-08                      320
3  Customer#000120877   5200194.28      1998-07-17                      320
4  Customer#000012595   4973507.88      1998-07-30                      320

### Sales Performance

#### 3. Find the region name with the highest total order value in 1996.

The total order value is defined as potential revenue, defined as the sum of extended_price * (1 - discount)

It introduces precise calculations within the query, ensuring revenue insights.

In [11]:
query="""Find the region name with the highest total order value in 1996. 
The total order value is defined as potential revenue, defined as the sum of extended_price * (1 - discount)"""

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find the region name with the highest total order value in 1996, where total order value is defined as the sum of extended_price * (1 - discount).

First, I need to:
1. Filter orders from 1996
2. Calculate the potential revenue for each line item
3. Sum these values by region
4. Find the region with the highest total

```python
# First, calculate the potential revenue for each line item in orders from 1996
orders_1996 = orders.WHERE(YEAR(order_date) == 1996)
lines_1996 = orders_1996.lines.CALCULATE(
    potential_revenue=extended_price * (1 - discount)
)

# Group by region and calculate total potential revenue
region_revenue = regions.CALCULATE(
    region_name=name,
    total_revenue=SUM(nations.customers.orders.WHERE(YEAR(order_date) == 1996).lines.extended_price * (1 - nations.customers.orders.WHERE(YEAR(order_date) == 1996).lines.discount))
)

# Find the region with the highest total revenue
highest_revenue_region = region_revenue.TOP_K(1, by=total_revenue.DESC())
```

  region_name  total_revenue
0      EUROPE   6.746079e+09

### Product Trends

#### 4. Which 10 customers purchased the highest quantity of products during 1998?

Highlights ranking queries (TOP_K()), customer segmentation, and purchasing trends.

In [12]:
query= "Which 10 customers purchased the highest quantity of products during 1998?"

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find the 10 customers who purchased the highest quantity of products during 1998.

```python
# Filter orders to only include those from 1998
orders_1998 = orders.WHERE(YEAR(order_date) == 1998)

# Calculate the total quantity purchased by each customer in 1998
customer_quantities = customers.CALCULATE(
    customer_key=key,
    customer_name=name,
    total_quantity=SUM(orders_1998.lines.quantity)
)

# Get the top 10 customers by total quantity purchased
top_10_customers = customer_quantities.TOP_K(10, by=total_quantity.DESC())
```

This code:
1. First filters orders to only include those from 1998
2. Then calculates the total quantity of products purchased by each customer from those 1998 orders
3. Finally, selects the top 10 customers based on their total purchased quantity in descending order

   customer_key       customer_name  total_quantity
0        119539  Customer#000119539            1206
1         26518  Customer#000026518            1158
2         24877  Customer#000024877            1104
3            19  Customer#000000019            1084
4        106000  Customer#000106000            1058

**Follow up**: Now only the ones that have "green" on the product name.

In [14]:
result= client.discourse(result, "Only the ones that have 'green' on the product name.")

print(result.full_explanation)
result.df.head()

I'll create a PyDough code snippet to find the top 10 customers who purchased the highest quantity of products during 1998, but only considering products that have 'green' in their name.

```python
# First, filter orders from 1998 with green products and calculate total quantity per customer
customer_green_quantities = customers.CALCULATE(
    customer_key=key,
    customer_name=name,
    total_green_quantity=SUM(
        orders.WHERE(YEAR(order_date) == 1998)
        .lines.WHERE(CONTAINS(part.name, "green"))
        .quantity
    )
).WHERE(total_green_quantity > 0)

# Get the top 10 customers by green product quantity
top_10_green_customers = customer_green_quantities.TOP_K(
    10,
    by=total_green_quantity.DESC()
).CALCULATE(
    customer_key,
    customer_name,
    total_green_quantity
)
```

This code:
1. Starts with the customers collection
2. Calculates for each customer:
   - Their key and name
   - The total quantity of products they purchased that have 'green' in the name, from orders placed in 1998
3. Filters out customers who didn't purchase any green products
4. Selects the top 10 customers based on the highest total quantity
5. Returns their key, name, and the total quantity purchased

   customer_key       customer_name  total_green_quantity
0         11509  Customer#000011509                   208
1         22147  Customer#000022147                   201
2         27577  Customer#000027577                   201
3        109117  Customer#000109117                   176
4         16252  Customer#000016252                   172

### Revenue Performance

#### 5. What is the february 1996 SPM for the almond antique blue royal burnished part in China?

SPM (Selling Profit Margin) = (Total Amount from Sells - (Tax + Commission)) / Total Amount from Sells * 100

This query was provided as a representative example of potential stakeholder inquiries.

Showcases advanced partitioning and filtering, demonstrating how PyDough can be used for highly specific business KPIs. Compare with a previous time period and exclude/include specific suppliers, making it a progressive data exploration example.

In [15]:
query= """What is the february 1996 SPM for the almond antique blue royal burnished part in China? 
SPM (Selling Profit Margin) = (Total Amount from Sells - (Tax + Commission)) / Total Amount from Sells * 100"""

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I need to create a PyDough query to calculate the February 1996 Selling Profit Margin (SPM) for the "almond antique blue royal burnished" part in China.

First, I'll need to:
1. Find the specific part by its name
2. Filter for line items from February 1996
3. Filter for suppliers from China
4. Calculate the SPM using the formula provided

Here's the PyDough code:

```python
# Find the part with the specified name
target_part = parts.WHERE(
    name == "almond antique blue royal burnished"
)

# Calculate the SPM for February 1996 in China
spm_result = target_part.lines.WHERE(
    (YEAR(ship_date) == 1996) &
    (MONTH(ship_date) == 2) &
    (supplier.nation.name == "CHINA")
).CALCULATE(
    part_name=target_part.name,
    total_sales=SUM(extended_price),
    total_tax=SUM(tax),
    total_commission=SUM(discount * extended_price),  # Using discount as commission
    spm=((SUM(extended_price) - (SUM(tax) + SUM(discount * extended_price))) /
         SUM(extended_price)) * 100
)
```

This query:
1. Identifies the specific part by its name
2. Filters line items for February 1996 and suppliers from China
3. Calculates the SPM using the formula: (Total Sales - (Tax + Commission)) / Total Sales * 100
4. Returns the part name and the calculated SPM

AttributeError: 'NoneType' object has no attribute 'head'

**Follow up**: Compare that to november 1995 SPM, have we seen an increase?

In [16]:
query+= """Compare that to november 1995 SPM, have we seen an increase?"""

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll analyze this request and create PyDough code to calculate the Selling Profit Margin (SPM) for the specified part in China for February 1996 and November 1995.

First, I need to identify the "almond antique blue royal burnished" part, then find sales in China for the specified months, and calculate the SPM according to the formula:

SPM = (Total Amount from Sells - (Tax + Commission)) / Total Amount from Sells * 100

Note: I don't see a "commission" field in the database structure. I'll assume the commission is represented by the discount field, as this is typically subtracted from the selling price.

```python
# First, find the specific part by its name
target_part = parts.WHERE(
    name == "almond antique blue royal burnished"
).CALCULATE(key, name)

# Calculate SPM for February 1996 sales in China
feb_1996_spm = lines.WHERE(
    (YEAR(ship_date) == 1996) &
    (MONTH(ship_date) == 2) &
    (part.key == target_part.key) &
    (supplier.nation.name == "CHINA")
).CALCULATE(
    total_amount=SUM(extended_price),
    total_tax=SUM(tax * extended_price),
    total_commission=SUM(discount * extended_price),
    spm=((SUM(extended_price) - SUM((tax + discount) * extended_price)) / SUM(extended_price)) * 100
)

# Calculate SPM for November 1995 sales in China
nov_1995_spm = lines.WHERE(
    (YEAR(ship_date) == 1995) &
    (MONTH(ship_date) == 11) &
    (part.key == target_part.key) &
    (supplier.nation.name == "CHINA")
).CALCULATE(
    total_amount=SUM(extended_price),
    total_tax=SUM(tax * extended_price),
    total_commission=SUM(discount * extended_price),
    spm=((SUM(extended_price) - SUM((tax + discount) * extended_price)) / SUM(extended_price)) * 100
)

# Compare the SPM values to determine if there was an increase
comparison_result = GRAPH.CALCULATE(
    feb_1996_spm=feb_1996_spm.spm,
    nov_1995_spm=nov_1995_spm.spm,
    increase=(feb_1996_spm.spm > nov_1995_spm.spm),
    difference=feb_1996_spm.spm - nov_1995_spm.spm
)
```

This code:
1. Identifies the specific part by its name
2. Calculates the SPM for February 1996 sales in China
3. Calculates the SPM for November 1995 sales in China
4. Compares the two SPM values to determine if there was an increase
5. Calculates the difference between the two SPM values

The final result will show the SPM values for both periods, whether there was an increase, and the difference between the two values.

AttributeError: 'NoneType' object has no attribute 'head'

**Follow up**: Now exclude supplier Supplier#000001305 and focus only on supplier Supplier#000008802

In [17]:
query+= """Now exclude supplier Supplier#000001305 and focus only on supplier Supplier#000008802"""

result= client.ask(query)

print(result.full_explanation)
result.df.head()

I'll analyze this request and generate PyDough code to calculate the Selling Profit Margin (SPM) for the specified part and suppliers.

First, I need to:
1. Find the almond antique blue royal burnished part
2. Calculate SPM for February 1996 and November 1995 in China
3. Compare the two periods
4. Filter for specific suppliers as requested

```python
# First, identify the almond antique blue royal burnished part
target_part = parts.WHERE(
    CONTAINS(name, "almond") &
    CONTAINS(name, "antique") &
    CONTAINS(name, "blue") &
    CONTAINS(name, "royal") &
    CONTAINS(name, "burnished")
)

# Calculate SPM for February 1996
feb_1996_spm = lines.WHERE(
    (part_key == target_part.key) &
    (YEAR(ship_date) == 1996) &
    (MONTH(ship_date) == 2) &
    (supplier.nation.name == "CHINA")
).CALCULATE(
    total_sales=SUM(extended_price),
    total_tax=SUM(tax),
    total_commission=SUM(extended_price * discount),  # Using discount as commission
    spm=(SUM(extended_price) - (SUM(tax) + SUM(extended_price * discount))) / SUM(extended_price) * 100
)

# Calculate SPM for November 1995
nov_1995_spm = lines.WHERE(
    (part_key == target_part.key) &
    (YEAR(ship_date) == 1995) &
    (MONTH(ship_date) == 11) &
    (supplier.nation.name == "CHINA")
).CALCULATE(
    total_sales=SUM(extended_price),
    total_tax=SUM(tax),
    total_commission=SUM(extended_price * discount),  # Using discount as commission
    spm=(SUM(extended_price) - (SUM(tax) + SUM(extended_price * discount))) / SUM(extended_price) * 100
)

# Compare the two periods
spm_comparison = GRAPH.CALCULATE(
    feb_1996_spm=feb_1996_spm.spm,
    nov_1995_spm=nov_1995_spm.spm,
    increase=feb_1996_spm.spm > nov_1995_spm.spm,
    difference=feb_1996_spm.spm - nov_1995_spm.spm
)

# Now exclude Supplier#000001305 and focus only on Supplier#000008802
specific_supplier_spm = lines.WHERE(
    (part_key == target_part.key) &
    (YEAR(ship_date) == 1996) &
    (MONTH(ship_date) == 2) &
    (supplier.nation.name == "CHINA") &
    (supplier.name == "Supplier#000008802") &
    (supplier.name != "Supplier#000001305")
).CALCULATE(
    supplier_name=supplier.name,
    total_sales=SUM(extended_price),
    total_tax=SUM(tax),
    total_commission=SUM(extended_price * discount),  # Using discount as commission
    spm=(SUM(extended_price) - (SUM(tax) + SUM(extended_price * discount))) / SUM(extended_price) * 100
)

# Final result with all the requested information
result = GRAPH.CALCULATE(
    feb_1996_spm=feb_1996_spm.spm,
    nov_1995_spm=nov_1995_spm.spm,
    increase=spm_comparison.increase,
    difference=spm_comparison.difference,
    supplier_8802_feb_1996_spm=specific_supplier_spm.spm
)
```

This code:
1. Identifies the target part by searching for the specified attributes in the part name
2. Calculates the SPM for February 1996 in China for the target part
3. Calculates the SPM for November 1995 in China for the target part
4. Compares the two periods to determine if there was an increase
5. Calculates the SPM specifically for supplier #000008802 in February 1996, excluding supplier #000001305

The final result contains all the requested SPM values and comparison information.

AttributeError: 'NoneType' object has no attribute 'head'