# Pydough LLM Demo

This notebook showcases how an LLM can generate PyDough queries from natural language instructions. The goal is to demonstrate how AI can automate complex data analysis, making querying faster, more intuitive, and accessible without needing deep technical expertise.

Each example highlights different capabilities, including aggregations, filtering, ranking, and calculations across multiple collections.

---
## Setup & Basic Usage of the API

First, we import the created client.

In [1]:
from llm import LLMClient

Then we initialize the client.

In [2]:
client = LLMClient()

One should use the `ask()` method to make a query to the model.

We get a `result` object with the next attributes: 

- `code`:  The PyDough query generated by the LLM.
- `full_explanation`: A detailed explanation of how the query works.
- `df`:The dataframe containing the query results.
- `exception`: Stores any errors encountered while executing the query.
- `original_question`: The natural language question input by the user.
- `sql`: The SQL equivalent of the generated PyDough query.
- `base_prompt`: The initial instruction given to the LLM to generate the query.
- `cheat_sheet`:  A reference guide or example queries to help the LLM structure responses.
- `knowledge_graph`: The metadata structure that informs the LLM about available collections and relationships.

---
## First query

Ask method asks a simple query (no discourse mode)

In [4]:
result= client.ask("Give me all the suppliers name from united states")

After that, we can consult all the necessary atributes from the result.

Initially, I want to check the **base instruction** that guided the LLM.

In [5]:
print(result.base_prompt)

You are an AI tasked with converting natural language descriptions into PyDough code snippets. You will be provided with two reference files:

1. **PyDough Reference File** - This file contains the core concepts, functions, and syntax of PyDough.
{script_content}

2. **Database Structure Reference File** - This file outlines the database schema, collections, fields, and relationships.
{database_content}

3. **Examples for Context:** Here are some examples of PyDough code snippets along with their corresponding natural language questions that are similar to the user's query. These examples will help contextualize the task and guide you in understanding the user's requirements. Analyze if those examples are relevant to the user's query by comparing their structure, intent, and expected output. If the examples closely match the user's request, they can serve as a reference for constructing an appropriate PyDough query.

{similar_queries}

Your objective is to analyze the provided natural language description that outlines a database query or manipulation task and generate a corresponding PyDough code snippet that adheres to the syntax and structure in the PyDough Reference File.

1. Extract the main components of the natural language description to identify the database query or manipulation required, before to create the pydough code extract the collections needed and pydough functions.

2. Generate PyDough code that:
   - Uses clear and concise syntax using the correct functions, parameters, and structure.
   - Avoids the bad examples reference in the Pydough Reference File
   - Properly references fields and tables as defined in the Database Structure Reference File.
   - Includes comments for any complex operations, where necessary.
   - Assigns the final query to a variable.
   - Ensures proper indentation.
   - Follows the rules for using contextless expressions properly.
   - Adheres to the syntax and structure outlined in the PyDough Reference File.
   - When need HAS ALWAYS compare if is equal to 1.
   - Ensures the variables names are different than the fields of the Database Structure Reference File.
   - Returns only the exact data requested, without adding additional fields or information.

3. Determine if PARTITION is necessary: If it is not required, explore alternative methods such as CALCULATE or aggregations to achieve the desired result. If PARTITION is truly needed, then use it appropriately.

4. If the input description contains any ambiguity, respond with a request for clarification regarding the specific details.

5. The generated code should be enclosed in a Python code block, and an explanation should be provided for what the code does, step by step

{recomendation}
Use this structure to ensure clarity, consistency, and adherence to PyDough syntax in your outputs.

We can also ask for the for the **pydough code** directly.

In [6]:
print(result.code)

suppliers_from_united_states = nations.WHERE(name == "UNITED STATES").suppliers.CALCULATE(supplier_name=name)

And if we want to compare, we can get the **equivalent SQL query** created by Pydough.

In [7]:
print(result.sql)

SELECT
  name AS supplier_name
FROM (
  SELECT
    key
  FROM (
    SELECT
      n_name AS name,
      n_nationkey AS key
    FROM main.NATION
  )
  WHERE
    name = 'UNITED STATES'
)
INNER JOIN (
  SELECT
    s_name AS name,
    s_nationkey AS nation_key
  FROM main.SUPPLIER
)
  ON key = nation_key

If we want to visually check, analyze or edit the resulting **dataframe**, we also can. There is a dedicated section for this later. on the document

In [8]:
result.df

          supplier_name
0    Supplier#000000010
1    Supplier#000000019
2    Supplier#000000046
3    Supplier#000000049
4    Supplier#000000055
..                  ...
388  Supplier#000009819
389  Supplier#000009829
390  Supplier#000009859
391  Supplier#000009906
392  Supplier#000009918

[393 rows x 1 columns]

We can also get a simple **explanation** of the query.

In the future, we will offer an English-only explanation to learn more about what the query is about, but for now, you can view a combined PyDough and English explanation generated by the LLM.

In [9]:
print(result.full_explanation)

```python
suppliers_from_united_states = nations.WHERE(name == "UNITED STATES").suppliers.CALCULATE(supplier_name=name)
```

**Explanation:**

1.  **`nations.WHERE(name == "UNITED STATES")`**: This filters the `nations` collection to select only the nation with the name "UNITED STATES".
2.  **.suppliers**: Accesses the `suppliers` sub-collection associated with the "UNITED STATES" nation.
3.  **.CALCULATE(supplier\_name=name)**: Selects the `name` field from the `suppliers` and renames it to `supplier_name`.
4.  **`suppliers_from_united_states = ...`**: Assigns the resulting collection to the variable `suppliers_from_united_states`.

We can also check the original natural language **question** that was asked.

In [10]:
print(result.original_question)

Give me all the suppliers name from united states

We also have a reference guide or **cheat_sheet** with example queries to help structure responses.

In [11]:
print(result.cheat_sheet)

# **PYDOUGH CHEAT SHEET**
This cheat sheet is a context for learning how to create PyDough code. You must follow all the written rules. Each section represents important features and rules to keep in mind when developing PyDough code.

## **GENERAL RULES**:

  - Always use TOP_K instead of ORDER_BY when you need to order but also select a the high, low or an specific "k" number of records.

  - PARTITION function ALWAYS need 3 parameters `Collection, name and by`. The “by” parameter must never have collections, subcollections or calculations. Any required variable or value must have been previously calculated, because the parameter only accept expressions.

  - Always keep in mind the order of the query. For example, if I tell you to give me the name and the phone_number, give them to me in this order, first the “name” column and then the “phone_number” column.

  - In PyDough, complex calculations can often be expressed concisely by combining filters, transformations, and aggregations at the appropriate hierarchical level. Instead of breaking problems into multiple intermediate steps, leverage CALCULATE to directly aggregate values, use WHERE to filter data at the correct scope, and apply functions like SUM or TOP_K at the highest relevant level of analysis. Avoid unnecessary partitioning or intermediate variables unless absolutely required, and focus on composing operations hierarchically to streamline solutions while maintaining clarity and efficiency.

  - PyDough does not support use different childs in operations, for example you cannot do: `total = SUM(orders.lines.extended_price * (1 - orders.lines.discount))` because you have two different calls. Instead use CALCULATE with a variable, for example: `total = SUM(orders.lines.CALCULATE(total = extended_price * (1 - discount)).total)`.

## **1. COLLECTIONS & SUB-COLLECTIONS**

### **Syntax**
Access collections/sub-collections using dot notation.

### **Examples**:
  - `People` → Access all records in the 'People' collection.
  - `People.current_address` → Access current addresses linked to people.
  - `Packages.customer` → Access customers linked to packages.

## **2. CALCULATE EXPRESSIONS**

### **Purpose**
Derive new fields, rename existing ones or select specific fields.

### **Syntax**
Collection.CALCULATE(field=expression, ...)

### **Examples**:

  - **Select fields**:
    ```python
    People.CALCULATE(first_name=first_name, last_name=last_name)
    ```

  - **Derived fields**:
    ```python
    Packages.CALCULATE(
        customer_name=JOIN_STRINGS(' ', customer.first_name, customer.last_name),
        cost_per_unit=package_cost / quantity
    )
    ```

### **Rules**
  - Use aggregation functions (e.g., SUM, COUNT) for plural sub-collections.

  - Positional arguments must precede keyword arguments.

  - Terms defined in a CALCULATE do not take effect until after the CALCULATE completes.

  - Existing terms not included in a CALCULATE can still be referenced but are not part of the final result unless included in the last CALCULATE clause.

  - A CALCULATE on the graph itself creates a collection with one row and columns corresponding to the properties inside the CALCULATE.

## **3. FILTERING (WHERE)**

### **Syntax**
.WHERE(condition)

### **Examples**

  - **Filter people with negative account balance**:
    ```python
    People.WHERE(acctbal < 0)
    ```

  - **Filter packages ordered in 2023**
    ```python
    Packages.WHERE(YEAR(order_date) == 2023)
    ```

  - **Filter addresses with occupants**
    ```python
    Addresses.WHERE(HAS(current_occupants))
    ```

### **Rules**
  - Use & (AND), | (OR), ~ (NOT) instead of and, or, not.
  - Avoid chained comparisons (e.g., replace a < b < c with (a < b) & (b < c)).

## **4. SORTING (ORDER_BY)**

### **Syntax**
  .ORDER_BY(field.ASC()/DESC(), ...)

### **Parameters**

  .ASC(na_pos='last') → Sort ascending, nulls last.

  .DESC(na_pos='first') → Sort descending, nulls first.

### **Examples**

  - **Alphabetical sort**:
    ```python
    People.ORDER_BY(last_name.ASC(), first_name.ASC())
    ```

  - **Most expensive packages first**:
    ```python
    Packages.ORDER_BY(package_cost.DESC())
    ```

## **5. SORTING TOP_K(k, by=field.DESC())**

### **Purpose**
Select top k records.

### **Syntax**
  .TOP_K(k, by=field.DESC())

### **Example**
  Top 10 customers by orders count:
  ```python
  customers.TOP_K(10, by=COUNT(orders).DESC())
  ```

  Top 10 customers by orders count (but also selecting only the name):
  ```python
  customers.CALCULATE(cust_name=name).TOP_K(10, by=COUNT(orders).DESC())
  ```

### **Rules**
- The two parameters are obligatory.

## **6. AGGREGATION FUNCTIONS**

### **Functions**
- **COUNT(collection)**: Count non-null records.
  Example: COUNT(People.packages)

- **SUM(collection)**: Sum values.
  Example: SUM(Packages.package_cost)

- **AVG(collection)**: Average values.
  Example: AVG(Packages.quantity)

- **MIN/MAX(collection)**: Min/Max value.
  Example: MIN(Packages.order_date)

- **NDISTINCT(collection)**: Distinct count.
  Example: NDISTINCT(Addresses.state)

- **HAS(collection)**: True if ≥1 record exists.
  Example: HAS(People.packages)

- **HASNOT(collection)**: True if collection is empty.
  Example: HASNOT(orders)

### **Rules**
Aggregations Function does not support calling aggregations inside of aggregations

## **7. PARTITION**

### **Purpose**
Group records by keys.

### **Syntax**
PARTITION(Collection, name='group_name', by=(key1, key2))

### **Rules**:
- The `name` argument is a string indicating the name that is to be used when accessing the partitioned data.
- Al the parameters in "by=(key1, key2)" must be use in CALCULATE without using the "name" of the GROUP_BY. As opposed to any other term, which needs the name because that is the context.
- Partition keys must be scalar fields from the collection.
- You must use Aggregation functions to call plural values inside PARTITION.
- Within a partition, you must use the `name` argument to be able to access any property or subcollections.

### **Good Examples**

  - **Group addresses by state and count occupants**:
    ```python
    PARTITION(Addresses, name='addrs', by=state).CALCULATE(
        state=state,
        total_occupants=COUNT(addrs.current_occupants)
    )
    ```
    **IMPORTANT**: Look here, where we do not need to use  "addrs.state", we only use "state", because this is in the "by" sentence.

  - **Group packages by year/month**:
    ```python
    PARTITION(Packages, name='packs', by=(YEAR(order_date), MONTH(order_date)))
    ```

### **Bad Examples**
  - **Partition people by their birth year to find the number of people born in each year**: Invalid because the email property is referenced, which is not one of the properties accessible by the partition.
    ```python
    PARTITION(People(birth_year=YEAR(birth_date)), name=\"ppl\", by=birth_year)(
        birth_year,
        email,
        n_people=COUNT(ppl)
    )
    ```

  - **Count how many packages were ordered in each year**: Invalid because YEAR(order_date) is not allowed to be used as a partition term (it must be placed in a CALC so it is accessible as a named reference).
    ```python
    PARTITION(Packages, name=\"packs\", by=YEAR(order_date)).CALCULATE(
        n_packages=COUNT(packages)
    )
    ```

  - **Count how many people live in each state**: Invalid because current_address.state is not allowed to be used as a partition term (it must be placed in a CALC so it is accessible as a named reference).
    ```python
    PARTITION(People, name=\"ppl\", by=current_address.state).CALCULATE(
        n_packages=COUNT(packages)
    )
    ```

## **8. WINDOW FUNCTIONS**

### **RANKING:**
#### **Syntax**
RANKING(by=field.DESC(), levels=1, allow_ties=False)

#### **Parameters**

- by: Ordering criteria (e.g., acctbal.DESC()).

- levels: Hierarchy level (e.g., levels=1 for per-nation ranking). Must be a positive integer.

- allow\_ties (default False): Allow tied ranks.

- dense (default False): Use dense ranking.

#### **Examples**
```python
Nations.customers(r = RANKING(by=acctbal.DESC(), levels=1))
```
Rank customers by balance per nation:
```python
Customers(r=RANKING(by=acctbal.DESC(), levels=1))
```

### **PERCENTILE:**

#### **Syntax**
PERCENTILE(by=field.ASC(), n_buckets=100)

#### **Parameters**

- by: Ordering criteria.

- levels: Hierarchy level.

- n\_buckets (default 100): Number of percentile buckets.

#### **Example**
```python
Customers.WHERE(PERCENTILE(by=acctbal.ASC(), n\_buckets=1000) == 1000).
```

Filter top 5% by account balance:
```python
Customers.WHERE(PERCENTILE(by=acctbal.ASC()) > 95)
```

## **9. CONTEXTLESS EXPRESSIONS**

### **Purpose**
Reusable code snippets.

### **Example**
Define and reuse filters:
  ```python
  is_high_value = package_cost > 1000
  high_value_packages = Packages.WHERE(is_high_value)
  ```

## **BINARY OPERATORS**

### **Arithmetic**

*   Operators: +, -, \*, /, \*\* (addition, subtraction, multiplication, division, exponentiation).

*   Example:Lineitems(value = (extended\_price \* (1 - (discount \*\* 2)) + 1.0) / part.retail\_price)

*   Warning: Division by 0 behavior depends on the database.


### **Comparisons**

*   Operators: <=, <, ==, !=, >, >=.

*   Example:Customers(in\_debt = acctbal < 0, is\_european = nation.region.name == "EUROPE")

*   Warning: Avoid chained inequalities (e.g., a <= b <= c). Use (a <= b) & (b <= c) or MONOTONIC.


### **Logical**

*   Operators: & (AND), | (OR), ~ (NOT).

*   Example:Customers(is\_eurasian = (nation.region.name == "ASIA") | (nation.region.name == "EUROPE"))

*   Warning: Use &, |, ~ instead of Python’s and, or, not.


## **UNARY OPERATORS****Negation**

*   Operator: - (flips sign).

*   Example:Lineitems(lost\_value = extended\_price \* (-discount))


## **OTHER OPERATORS**

### **Slicing**

#### Syntax
string\[start:stop:step\].

#### Example
Customers(country\_code = phone\[:3\])

#### Rules
- Step must be 1 or omitted; start/stop non-negative or omitted.


## **STRING FUNCTIONS**

*   LOWER(s): Converts string to lowercase.Example: LOWER(name) → "apple".

*   UPPER(s): Converts string to uppercase.Example: UPPER(name) → "APPLE".

*   LENGTH(s): Returns character count.Example: LENGTH(comment) → 42.

*   STARTSWITH(s, prefix): Checks prefix match.Example: STARTSWITH(name, "yellow") → True/False.

*   ENDSWITH(s, suffix): Checks suffix match.Example: ENDSWITH(name, "chocolate") → True/False.

*   CONTAINS(s, substr): Checks substring presence.Example: CONTAINS(name, "green") → True/False.

*   LIKE(s, pattern): SQL-style pattern matching (%, \_).Example: LIKE(comment, "%special%") → True/False.

*   JOIN\_STRINGS(delim, s1, s2, ...): Joins strings with a delimiter.Example: JOIN\_STRINGS("-", "A", "B") → "A-B".


## **DATETIME FUNCTIONS**

*   YEAR(dt): Extracts year.Example: YEAR(order\_date) == 1995.

*   MONTH(dt): Extracts month (1-12).Example: MONTH(order\_date) >= 6.

*   DAY(dt): Extracts day (1-31).Example: DAY(order\_date) == 1.

*   HOUR(dt): Extracts hour (0-23).Example: HOUR(order\_date) == 12.

*   MINUTE(dt): Extracts minute (0-59).Example: MINUTE(order\_date) == 30.

*   SECOND(dt): Extracts second (0-59).Example: SECOND(order\_date) < 30.

* DATETIME: The DATETIME function is used to build/augment date/timestamp values. The first argument is the base date/timestamp, and it can optionally take in a variable number of modifier arguments.

    - The base argument can be one of the following: A string literal indicating that the current timestamp should be built, which has to be one of the following: `now`, `current_date`, `current_timestamp`, `current date`, `current timestamp`. All of these aliases are equivalent, case-insensitive, and ignore leading/trailing whitespace.
    - A column of datetime data.

  The modifier arguments can be the following (all of the options are case-insensitive and ignore leading/trailing/extra whitespace):

  - A string literal in the format `start of <UNIT>` indicating to truncate the datetime value to a certain unit, which can be the following:
    - Years: Supported aliases are "years", "year", and "y".
    - Months: Supported aliases are "months", "month", and "mm".
    - Days: Supported aliases are "days", "day", and "d".
    - Hours: Supported aliases are "hours", "hour", and "h".
    - Minutes: Supported aliases are "minutes", "minute", and "m".
    - Seconds: Supported aliases are "seconds", "second", and "s".

  - A string literal in the form `±<AMT> <UNIT>` indicating to add/subtract a date/time interval to the datetime value. The sign can be `+` or `-`, and if omitted the default is `+`. The amount must be an integer. The unit must be one of the same unit strings allowed for truncation. For example, "Days", "DAYS", and "d" are all treated the same due to case insensitivity.

  If there are multiple modifiers, they operate left-to-right.
  Usage examples:
  ```python
  # Returns the following datetime moments:
  # 1. The current timestamp
  # 2. The start of the current month
  # 3. Exactly 12 hours from now
  # 4. The last day of the previous year
  # 5. The current day, at midnight
  TPCH.CALCULATE(
    ts_1=DATETIME('now'),
    ts_2=DATETIME('NoW', 'start of month'),
    ts_3=DATETIME(' CURRENT_DATE ', '12 hours'),
    ts_4=DATETIME('Current Timestamp', 'start of y', '- 1 D'),
    ts_5=DATETIME('NOW', '  Start  of  Day  '),
  )

  # For each order, truncates the order date to the first day of the year
  Orders.CALCULATE(order_year=DATETIME(order_year, 'START OF Y'))
  ```

* DATEDIFF: Calling DATEDIFF between 2 timestamps returns the difference in one of the following units of time:     years, months, days, hours, minutes, or seconds.

  - `DATEDIFF("years", x, y)`: Returns the number of full years since `x` that `y` occurred. For example, if `x` is December 31, 2009, and `y` is January 1, 2010, it counts as 1 year apart, even though they are only 1 day apart.
  - `DATEDIFF("months", x, y)`: Returns the number of full months since `x` that `y` occurred. For example, if `x` is January 31, 2014, and `y` is February 1, 2014, it counts as 1 month apart, even though they are only 1 day apart.
  - `DATEDIFF("days", x, y)`: Returns the number of full days since `x` that `y` occurred. For example, if `x` is 11:59 PM on one day, and `y` is 12:01 AM the next day, it counts as 1 day apart, even though they are only 2 minutes apart.
  - `DATEDIFF("hours", x, y)`: Returns the number of full hours since `x` that `y` occurred. For example, if `x` is 6:59 PM and `y` is 7:01 PM on the same day, it counts as 1 hour apart, even though the difference is only 2 minutes.
  - `DATEDIFF("minutes", x, y)`: Returns the number of full minutes since `x` that `y` occurred. For example, if `x` is 7:00 PM and `y` is 7:01 PM, it counts as 1 minute apart, even though the difference is exactly 60 seconds.
  - `DATEDIFF("seconds", x, y)`: Returns the number of full seconds since `x` that `y` occurred. For example, if `x` is at 7:00:01 PM and `y` is at 7:00:02 PM, it counts as 1 second apart.

  - Example:
  ```python
  # Calculates, for each order, the number of days since January 1st 1992
  # that the order was placed:
  Orders.CALCULATE(
    days_since=DATEDIFF("days", datetime.date(1992, 1, 1), order_date)
  )
  ```

## **CONDITIONAL FUNCTIONS**

*   IFF(cond, a, b): Returns a if cond is True, else b.Example: IFF(acctbal > 0, acctbal, 0).

*   ISIN(val, (x, y)): Checks membership in a list.Example: ISIN(size, (10, 11)) → True/False.

*   DEFAULT\_TO(a, b): Returns first non-null value.Example: DEFAULT\_TO(tax, 0).

*   PRESENT(x): Checks if non-null.Example: PRESENT(tax) → True/False.

*   ABSENT(x): Checks if null.Example: ABSENT(tax) → True/False.

*   KEEP\_IF(a, cond): Returns a if cond is True, else null.Example: KEEP\_IF(acctbal, acctbal > 0).

*   MONOTONIC(a, b, c): Checks ascending order.Example: MONOTONIC(5, part.size, 10) → True/False.


## **NUMERICAL FUNCTIONS**

*   ABS(x): Absolute value.Example: ABS(-5) → 5.

*   ROUND(x, decimals): Rounds to decimals places.Example: ROUND(3.1415, 2) → 3.14.

*   POWER(x, exponent): Raises x to a power.Example: POWER(3, 2) → 9.

*   SQRT(x): Square root of x.Example: SQRT(16) → 4.


## **GENERAL NOTES**

*   Use &, |, ~ for logical operations (not and, or, not).

*   For chained inequalities, use MONOTONIC or explicit comparisons.

*   Aggregation functions convert plural values (e.g., collections) to singular values.

## **12. EXAMPLE QUERIES**

* **Top 5 States by Average Occupants:**

  addr_info = Addresses.CALCULATE(n_occupants=COUNT(current_occupants))
  average_occupants=PARTITION(addr_info, name="addrs", by=state).CALCULATE(
      state=state,
      avg_occupants=AVG(addrs.n_occupants)
  ).TOP_K(5, by=avg_occupants.DESC())

* **Monthly Trans-Coastal Shipments:**

  west_coast = (\"CA\", \"OR\", \"WA\")
  east_coast = (\"NY\", \"NJ\", \"MA\")
  monthly_shipments= Packages.WHERE(
      ISIN(customer.current_address.state, west_coast) &
      ISIN(shipping_address.state, east_coast)
  ).CALCULATE(
      month=MONTH(order_date),
      year=YEAR(order_date)
  )

* **Calculates, for each order, the number of days since January 1st 1992**:

  Orders.CALCULATE(
   days_since=DATEDIFF("days",datetime.date(1992, 1, 1), order_date)
  )

* **Filter Nations by Name**
  *Goal: Find nations whose names start with \"A\".*
  *Code:*
  nations_startwith = nations.CALCULATE(n_name=name, n_comment=comment).WHERE(STARTSWITH(name, 'A'))
  nations_like = nations.CALCULATE(n_name=name, n_comment=comment).WHERE(LIKE(name, 'A%'))

* **Customers in Debt from Specific Region**
  *Goal: Identify customers in debt (negative balance) with ≥5 orders, from \"AMERICA\" (excluding Brazil).*
  *Code:*
  customer_in_debt = customers.CALCULATE(customer_name = name).WHERE(
      (acctbal < 0) &
      (COUNT(orders) >= 5) &
      (nation.region.name == "AMERICA") &
      (nation.name != "BRAZIL")
  )

* **For each order, truncates the order date to the first day of the year**:

  Orders.CALCULATE(order_year=DATETIME(order_year, 'START OF Y'))

* **Orders per Customer in 1998**
  *Goal: Count orders per customer in 1998 and sort by activity.*
  *Code:*
  customer_order_counts = customers.CALCULATE(
      key=key,
      name=name,
      num_orders=COUNT(orders.WHERE(YEAR(order_date) == 1998))
  ).ORDER_BY(num_orders.DESC())

* **High-Value Customers in Asia**
  *Goal: Find customers in Asia with total spending > $1000.*
  *Code:*
  high_value_customers_in_asia = customers.CALCULATE(
      customer_key=key,
      customer_name=name,
      total_spent=SUM(orders.total_price)
  ).WHERE((total_spent > 1000) & (nation.region.name == "ASIA"))

* **Top 5 Most Profitable Regions**
  *Goal: Identify regions with highest revenue.*
  *Code:*
  selected_regions = nations.CALCULATE(
      region_name=region.name,
      Total_revenue=SUM(customers.orders.total_price)
  ).TOP_K(5, Total_revenue.DESC())

* **Inactive Customers**
  *Goal: Find customers who never placed orders.*
  *Code:*
  customers_without_orders = customers.WHERE(HASNOT(orders)).CALCULATE(
      customer_key=key,
      customer_name=name
  )

* **Customer Activity by Nation**
  *Goal: Track active/inactive customers per nation.*
  *Code:*
  cust_info = customers.CALCULATE(is_active=HAS(orders))
  nation_summary = nations.CALCULATE(
      nation_name=name,
      total_customers=COUNT(cust_info),
      active_customers=SUM(cust_info.is_active),
      inactive_customers=COUNT(cust_info) - SUM(cust_info.is_active)
  ).ORDER_BY(total_customers.DESC())

* **High Balance, Low Spending Customers**
  *Goal: Find top 10% in balance but bottom 25% in orders.*
  *Code:*
  customers_in_low_percentiles = customers.WHERE(
      (PERCENTILE(by=acctbal.DESC()) <= 10) &
      (PERCENTILE(by=COUNT(orders.key).ASC()) <= 25)
  )

## **GENERAL NOTES**

*   Use &, |, ~ for logical operations (not and, or, not).


Now, we will try a new example, this one has an **exception**.

---

## Query correction (early preview)

In [12]:
result= client.ask("For each of the 5 largest part sizes, find the part of that size with the largest retail price")

print(result.full_explanation)

Here's the breakdown of how to convert the natural language description into a PyDough code snippet:

**1. Understanding the Request**

The request is to identify, for each of the top 5 largest part sizes, the part within that size that has the highest retail price. This involves:

*   Finding the 5 largest part sizes.
*   For each of those sizes, finding the part with the maximum retail price.

**2. Collections and Functions**

*   **Collection:** `parts`
*   **Functions:** `TOP_K`, `PARTITION`

**3. PyDough Code**

```python
largest_parts = parts.CALCULATE(
    part_size = size,
    part_retail_price = retail_price
).PARTITION(parts, name='sized_parts', by=part_size).CALCULATE(
    part_size = part_size,
    most_expensive_part_price = MAX(sized_parts.part_retail_price)
).TOP_K(5, by=part_size.DESC())
```

**4. Explanation**

*   **`parts.CALCULATE(part_size = size, part_retail_price = retail_price)`**: This line selects the `size` and `retail_price` fields from the `parts` collection and renames them to `part_size` and `part_retail_price` respectively.
*   **`.PARTITION(parts, name='sized_parts', by=part_size)`**: This line partitions the `parts` collection by `part_size`, grouping parts of the same size together. The partitioned data is named `sized_parts`.
*   **`.CALCULATE(part_size = part_size, most_expensive_part_price = MAX(sized_parts.part_retail_price))`**: This line calculates the maximum `part_retail_price` within each partition (i.e., for each `part_size`). The result is named `most_expensive_part_price`.
*   **`.TOP_K(5, by=part_size.DESC())`**: This line selects the top 5 `part_size` groups based on the descending order of `part_size`. This effectively gives us the 5 largest part sizes and the maximum retail price for a part of that size.

If one calls the dataframe and gets an error, no response, or a empty dataframe, it is possible that there is a PyDough exception. We can check this by running:

In [13]:
print(result.exception)

An error occurred while processing the code: Unrecognized term of simple table collection 'parts' in graph 'TPCH': 'parts'

You can try to fix the error using the `correct` method. We are going to declare a new variable to obtain the corrected result.

In [14]:
corrected_result = client.correct(result)

To see how the model try to solve the issue, you can print the full explanation of the `corrected_result`.

In [15]:
print(corrected_result.code)

largest_parts = parts.CALCULATE(
    part_size = size,
    part_retail_price = retail_price
).TOP_K(5, by=part_size.DESC()).CALCULATE(
    part_size = part_size,
    most_expensive_part_price = MAX(part_retail_price)
)

---
## Post-processing dataframe

Once the DataFrame is generated, it can be analysed or manipulated just like any other dataframe, using **any** Python package for analysis, visualization, or transformation. 

This is a planned future feature, and one of the core differentiators of PyDough!

As a first example, in this section we manipulate a resulting dataframe with pandas and matplotlib to create a histogram and a boxplot of the different orders prices.

In [21]:
result= client.ask("Give me all the order prices, name the column total_price")

result.code

'order_prices = Orders.CALCULATE(total_price=total_price)'

In [22]:
import matplotlib.pyplot as plt

df= result.df

plt.figure(figsize=(10, 6))
plt.hist(df["total_price"], bins=20, edgecolor="black", alpha=0.7)

# Configurar etiquetas y título
plt.xlabel("Total Price")
plt.ylabel("Frequency")
plt.title("Histogram of Order Prices in TPCH")

# Mostrar el gráfico
plt.show()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# Create a box plot for order prices
plt.figure(figsize=(8, 6))
plt.boxplot(df["total_price"], vert=False, patch_artist=True)

# Configure labels and title
plt.xlabel("Total Price")
plt.title("Box Plot of Order Prices in TPCH")

# Show the plot
plt.show()

---
## Query Quality and Verification

In the future we will be able to take the PyDough code, the user question, the knowledge graph and the generated data frame to perform semantic tests that will help assure the quality of the results. Some ideas that are under evaluation: 

1. John's graph reconstruction / deconstruction / verification ideas
2. LLM based rules that allow us to confirm certain properties of the Data Frame
   a. If the user requires a top 5 result, then the resulting DF must have 5 rows.
3. Program slicing ideas:
   b. If each cell can be traced to a transformation, look at the transformation and match it against the query (this is connected to John's ideas)
4. Emsemble ideas many variations prompts and LLMs could help us compare multiple results.
5. Talk about why Greg is flabbergasted. 

Here we show a simple demonstration of taking the resulting PyDough code, and then generating structured data from it so that you can compare the variables it used, against the original variables in our Knowledge Graph.

In [23]:
import ast
import json
from itertools import combinations
import networkx as nx
import matplotlib.pyplot as plt

class DSLGraphBuilder:
    class VariableNameExtractor(ast.NodeVisitor):
        def __init__(self):
            self.names = set()
        def visit_Name(self, node):
            # Ignore uppercase identifiers (like COUNT or YEAR)
            if not node.id.isupper():
                self.names.add(node.id)
            self.generic_visit(node)
    
    @staticmethod
    def extract_calculate_rhs_names(code):
        """
        Parse a DSL snippet and extract variable names from the right-hand side 
        of CALCULATE keyword assignments.
        """
        tree = ast.parse(code)
        names = set()
        for node in ast.walk(tree):
            if (
                isinstance(node, ast.Call)
                and isinstance(node.func, ast.Attribute)
                and node.func.attr == "CALCULATE"
            ):
                for kw in node.keywords:
                    extractor = DSLGraphBuilder.VariableNameExtractor()
                    extractor.visit(kw.value)
                    names.update(extractor.names)
        return names
    
    @classmethod
    def build_graph_from_snippets(cls, snippets):
        """
        Build a co-occurrence graph where each variable (from CALCULATE calls) 
        is a node, and an edge connects any two variables that appear together in a snippet.
        """
        all_nodes = set()
        snippet_vars = []  # list of sets of variable names per snippet
        for code in snippets:
            vars_in_snippet = cls.extract_calculate_rhs_names(code)
            snippet_vars.append(vars_in_snippet)
            all_nodes.update(vars_in_snippet)
        
        nodes = [{"id": var, "label": var} for var in sorted(all_nodes)]
        edges = []
        added_edges = set()
        for vars_in_snippet in snippet_vars:
            for a, b in combinations(sorted(vars_in_snippet), 2):
                key = tuple(sorted((a, b)))
                if key not in added_edges:
                    added_edges.add(key)
                    edges.append({"source": key[0], "target": key[1]})
        return {"nodes": nodes, "edges": edges}
    
    @staticmethod
    def visualize_graph(graph):
        """
        Visualize the graph using NetworkX and Matplotlib.
        """
        G = nx.Graph()
        for node in graph["nodes"]:
            G.add_node(node["id"])
        for edge in graph["edges"]:
            G.add_edge(edge["source"], edge["target"])
        
        # Use spring layout for a visually appealing graph
        pos = nx.spring_layout(G)
        
        plt.figure(figsize=(8, 6))
        nx.draw_networkx_nodes(G, pos, node_size=500, node_color="lightblue", edgecolors="black")
        nx.draw_networkx_edges(G, pos)
        nx.draw_networkx_labels(G, pos, font_size=10)
        
        plt.title("Co-occurrence Graph of Variables", fontsize=14)
        plt.axis("off")
        plt.tight_layout()
        plt.show()

ModuleNotFoundError: No module named 'networkx'

Now, this can be used to analyse the PyDough code that was first generated.

In [24]:
# Using the DSLGraphBuilder defined in a previous cell
builder = DSLGraphBuilder()

# Define your DSL code snippets to analyse

snippet1 = '''# Find all suppliers from the United States
us_suppliers = suppliers.WHERE(nation.name == "UNITED STATES").CALCULATE(
    supplier_name=name
)
'''
snippet2 = '''# Identify orders in 1995
orders_1995 = orders.WHERE(YEAR(order_date) == 1995)
european_customers = customers.CALCULATE(
    customer_name=name,
    account_balance=acctbal,
    num_orders_1995=COUNT(orders.WHERE(YEAR(order_date) == 1995))
).WHERE(
    (nation.region.name == "EUROPE") &
    (acctbal > 700) &
    (num_orders_1995 > 0)
)
'''

snippets = [snippet1, snippet2]

# Build the graph structure from your snippets
graph = builder.build_graph_from_snippets(snippets)

# Print out the graph JSON structure if desired
import json
print(json.dumps(graph, indent=4))

# Visualize the graph using matplotlib and networkx
builder.visualize_graph(graph)

NameError: name 'DSLGraphBuilder' is not defined

---
That generates a graphical view of the variables, and the co-occurence, and a json with that information, which can be compared against the original json knowledge graph for verification.

NB: This is only a first exploratory step, but as we have better ideas on verification, we will be able to add and extend this segment. Which is why it's an entire workstream as planned in our roadmap.

Now, on to more test cases!

---

## Test Cases

Let's now look at a few more test cases and see how PyDough and PyDough LLM does.

### Customer Segmentation

### 1. Find the names of all customers and the number of orders placed in 1995 in Europe.

- Demonstrates simple filtering, counting, and sorting while being business-relevant for regional market analysis. 
- Adds a second filtering layer by including account balance and order activity, making it more dynamic.

In [25]:
query= "Find the names of all customers and the number of orders placed in 1995 in Europe."

result= client.ask(query)

print(result.full_explanation)
result.df.head()

```python
european_customer_orders = customers.CALCULATE(
    cust_name=name,
    num_orders=COUNT(orders.WHERE(YEAR(order_date) == 1995))
).WHERE(nation.region.name == "EUROPE")
```

**Explanation:**

1.  **`customers.CALCULATE(...)`**: This initiates a calculation on the `customers` collection.
2.  **`cust_name=name`**: Selects the `name` field from the `customers` collection and assigns it to a new field named `cust_name`.
3.  **`num_orders=COUNT(orders.WHERE(YEAR(order_date) == 1995))`**: Counts the number of orders placed by each customer in 1995. It filters the `orders` sub-collection to include only those orders where the year of the `order_date` is 1995, and then counts these orders.
4.  **`.WHERE(nation.region.name == "EUROPE")`**: Filters the customers to include only those who are located in Europe. It accesses the `nation` of each customer, then the `region` of that nation, and checks if the `name` of the region is "EUROPE".
5.  **`european_customer_orders = ...`**: Assigns the result of the query to the variable `european_customer_orders`.

            cust_name  num_orders
0  Customer#000000011           1
1  Customer#000000015           0
2  Customer#000000018           0
3  Customer#000000020           3
4  Customer#000000026           2

**Follow up**: Now, give me the ones who have an account balance greater than $700 and placed at least one order in that same year. Sorted in descending order by the number of orders.

In [26]:
result= client.discourse(result, 
"""Now, give me the ones who have an account balance greater than $700 and placed at least one order in that same year. 
Sorted in descending order by the number of orders.""")

print(result.full_explanation)
result.df.head()

```python
# Find European customers with account balance > $700 and at least one 1995 order, sorted by order count
customer_data = customers.WHERE(
    nation.region.name == "EUROPE"
).CALCULATE(
    customer_name=name,
    acctbal=acctbal,
    order_count=COUNT(orders.WHERE(YEAR(order_date) == 1995))
).WHERE(
    (acctbal > 700) & (order_count >= 1)
).ORDER_BY(
    order_count.DESC()
)
```

**Step-by-Step Explanation:**
1. **Filter Scope**: Start with all customers in Europe using `.WHERE(nation.region.name == "EUROPE")`
2. **Calculate Fields**:
   - Keep customer name and account balance
   - Count orders from 1995 using a nested filter in `COUNT()`
3. **Apply Filters**:
   - Keep only customers with account balance > $700 (`acctbal > 700`)
   - Require at least 1 order from 1995 (`order_count >= 1`)
4. **Sort Results**: Order descending by order count using `.ORDER_BY(order_count.DESC())`

This builds directly on the previous solution while maintaining all PyDough rules about field ordering and aggregation.

        customer_name  acctbal  order_count
0  Customer#000107440  2464.61           12
1  Customer#000014920  7026.03           11
2  Customer#000079606   989.51           11
3  Customer#000108496  7388.38           11
4  Customer#000009019  2247.06           10

### 2. List customers who ordered in 1996 but not in 1997, with a total spent of over 1000$?

- Showcases PyDough’s HAS() and HASNOT() functions, helping analyze customer retention and spending patterns. 
- Also incorporates a time-based calculation.

In [30]:
query= "List customers who ordered in 1996 but not in 1997 with a total spent of over 1000$ If you use HAS add a ==1"

result= client.ask(query)

print(result.full_explanation)
result.df.head()

```python
# Calculate total 1996 spending and check order years for each customer
result = customers.CALCULATE(
    # Filter for customers with 1996 orders using explicit HAS comparison
    ordered_in_1996=HAS(orders.WHERE(YEAR(order_date) == 1996)) == 1,

    # Check for absence of 1997 orders using HAS comparison
    ordered_in_1997=HAS(orders.WHERE(YEAR(order_date) == 1997)) == 1,

    # Sum total price of 1996 orders using aggregation
    total_spent=SUM(
        orders.WHERE(YEAR(order_date) == 1996).total_price
    ),

    # Keep original customer identifiers
    cust_key=key,
    cust_name=name
).WHERE(
    # Apply final filters
    (ordered_in_1996 == True) &
    (ordered_in_1997 == False) &
    (total_spent > 1000)
).CALCULATE(  # Final projection
    cust_key=cust_key,
    cust_name=cust_name,
    total_spent=total_spent
)
```

Step-by-step explanation:
1. **Order Verification**: For each customer, we calculate:
   - `ordered_in_1996` using HAS() with explicit ==1 comparison to check for 1996 orders
   - `ordered_in_1997` using HAS() with ==1 comparison to check for 1997 orders

2. **Spending Calculation**:
   - Use SUM() aggregation on filtered 1996 orders to calculate total_spent

3. **Filter Conditions**:
   - Keep customers with 1996 orders but no 1997 orders
   - Ensure total spending exceeds $1000

4. **Final Projection**:
   - Explicitly select required fields in final CALCULATE
   - Uses unique field names (cust_key/cust_name) to avoid conflicts

Key compliance points:
- Follows HAS comparison rule with ==1
- Uses proper aggregation for plural orders collection
- Maintains field order as requested
- Uses unique variable names to avoid collisions
- No unnecessary PARTITION operations
- Proper boolean comparisons with & operator

   cust_key           cust_name  total_spent
0         5  Customer#000000005     98790.79
1        17  Customer#000000017    481076.02
2        20  Customer#000000020    538764.56
3        31  Customer#000000031    720459.29
4        38  Customer#000000038    788657.01

**Follow up**: Include the number of months since the last order and sort by total spent, highest first.

In [31]:
result2= client.discourse(result,
"Now, include the number of months since the last order and sort by total spent, highest first.")

print(result2.full_explanation)
result2.df.head()

```python
# Calculate total spending and temporal metrics for qualified customers
final_result = customers.CALCULATE(
    # 1996 order presence check
    ordered_in_1996=HAS(orders.WHERE(YEAR(order_date) == 1996)) == 1,

    # 1997 order absence check
    ordered_in_1997=HAS(orders.WHERE(YEAR(order_date) == 1997)) == 1,

    # Total spending calculation for 1996 orders
    total_spent=SUM(orders.WHERE(YEAR(order_date) == 1996).total_price),

    # Get latest order date from 1996 orders
    last_order=MAX(orders.WHERE(YEAR(order_date) == 1996).order_date),

    # Preserve customer identifiers
    cust_key=key,
    cust_name=name
).WHERE(
    # Apply qualifying filters
    (ordered_in_1996 == True) &
    (ordered_in_1997 == False) &
    (total_spent > 1000)
).CALCULATE(
    # Final projection with temporal calculation
    cust_key=cust_key,
    cust_name=cust_name,
    total_spent=total_spent,

    # Calculate months since last order using DATEDIFF
    months_since=DATEDIFF('months', last_order, DATETIME('now'))
).ORDER_BY(  # Sort by spending descending
    total_spent.DESC()
)
```

**Step-by-Step Explanation:**

1. **Enhanced Customer Metrics Calculation:**
   - Keeps original filters for 1996/1997 activity patterns and $1000+ spending
   - Adds `last_order` using `MAX()` on filtered 1996 order dates

2. **Temporal Calculation:**
   - Uses `DATEDIFF` with 'months' unit to calculate time between:
     - `last_order`: Most recent 1996 order date
     - `DATETIME('now')`: Current timestamp

3. **Final Projection & Sorting:**
   - Includes new `months_since` metric in final output
   - Orders results by `total_spent` descending using `.DESC()`

**Key Improvements:**
- Maintains all original filters while adding temporal analysis
- Uses PyDough's date functions for accurate month calculations
- Preserves clear column naming while adding new metric
- Follows PyDough's execution order rules with proper CALCULATE chaining

   cust_key           cust_name  total_spent  months_since
0      1948  Customer#000001948   1785971.27           339
1     57892  Customer#000057892   1668071.25           339
2    111028  Customer#000111028   1626293.12           340
3    112711  Customer#000112711   1623258.35           341
4    113131  Customer#000113131   1597282.31           339

### Sales Performance

### 3. Find the region name with the highest total order value in 1996.

- The total order value is defined as potential revenue, defined as the sum of extended_price * (1 - discount)
- It introduces precise calculations within the query, ensuring revenue insights.

In [33]:
query="""Find the region name with the highest total order value in 1996. 
The total order value is defined as potential revenue, defined as the sum of extended_price * (1 - discount)"""

result= client.ask(query)

print(result.full_explanation)
result.df.head()

To solve this problem, we need to determine the region with the highest total order value in 1996. The total order value is calculated as the sum of `extended_price * (1 - discount)` for all relevant line items. Here's how we can approach this step-by-step using PyDough:

```python
# Calculate total revenue per region from 1996 orders
highest_value_region = (
    PARTITION(
        # Filter lines from 1996 orders and calculate potential revenue
        lines.WHERE(YEAR(order.order_date) == 1996).CALCULATE(
            potential_revenue=extended_price * (1 - discount),
            region_name=order.customer.nation.region.name
        ),
        name='regional_lines',
        by=region_name
    ).CALCULATE(
        # Aggregate revenue by region
        region_name=region_name,
        total_revenue=SUM(regional_lines.potential_revenue)
    )
    # Select region with highest total revenue
    .TOP_K(1, by=total_revenue.DESC())
)
```

**Step-by-Step Explanation:**

1. **Filter 1996 Order Lines:**
   - Start with the `lines` collection
   - Filter to only include line items from orders placed in 1996 using `YEAR(order.order_date) == 1996`

2. **Calculate Potential Revenue:**
   - For each qualifying line item:
     - Calculate individual line revenue using `extended_price * (1 - discount)`
     - Determine the associated region through the hierarchy: `order → customer → nation → region`

3. **Group by Region:**
   - Use `PARTITION` to group the calculated line items by their region name
   - Name the partitioned group `regional_lines` for reference

4. **Aggregate Revenue:**
   - Within each regional partition:
     - Keep the region name identifier
     - Sum all potential revenue values using `SUM(regional_lines.potential_revenue)`

5. **Find Top Region:**
   - Use `TOP_K` with descending revenue sort to select the single region with the highest total

This solution efficiently calculates the required metric while properly handling:
- Temporal filtering (1996 orders)
- Multi-collection navigation (line → order → customer → nation → region)
- Correct aggregation patterns
- PyDough's partitioning requirements

  region_name  total_revenue
0      EUROPE   6.746079e+09

### Product Trends

### 4. Which 10 customers purchased the highest quantity of products during 1998?

Highlights ranking queries (TOP_K()), customer segmentation, and purchasing trends.

In [34]:
query= "Which 10 customers purchased the highest quantity of products during 1998?"

result= client.ask(query)

print(result.full_explanation)
result.df.head()

```python
top_customers_1998 = customers.CALCULATE(
    customer_name=name,
    total_quantity=SUM(
        orders.WHERE(YEAR(order_date) == 1998)
        .lines.CALCULATE(qty=quantity).qty
    )
).TOP_K(10, by=total_quantity.DESC())
```

**Step-by-Step Explanation:**

1. **Filter 1998 Orders:**
   `orders.WHERE(YEAR(order_date) == 1998)` selects only orders placed in 1998.

2. **Extract Line Item Quantities:**
   `.lines.CALCULATE(qty=quantity)` isolates the quantity field from each line item using CALCULATE to avoid subcollection chaining.

3. **Sum Quantities per Customer:**
   `SUM(...)` aggregates all line item quantities across a customer's filtered orders.

4. **Calculate Customer Metrics:**
   `CALCULATE(customer_name=name, total_quantity=...)` preserves customer names while adding their total purchased quantities.

5. **Select Top 10:**
   `.TOP_K(10, by=total_quantity.DESC())` sorts customers by descending total quantity and keeps only the top 10.

This solution avoids using PARTITION since we need simple per-customer aggregation, and leverages PyDough's ability to compose subcollection operations within aggregation functions.

        customer_name  total_quantity
0  Customer#000119539            1206
1  Customer#000026518            1158
2  Customer#000024877            1104
3  Customer#000000019            1084
4  Customer#000106000            1058

**Follow up**: Now only the ones that have "green" on the product name.

In [35]:
result= client.discourse(result, "Only the ones that have 'green' on the product name.")

print(result.full_explanation)
result.df.head()

```python
top_customers_1998_green = customers.CALCULATE(
    customer_name=name,
    total_quantity=SUM(
        orders.WHERE(YEAR(order_date) == 1998)
        .lines.WHERE(CONTAINS(LOWER(part.name), 'green'))
        .CALCULATE(qty=quantity).qty
    )
).TOP_K(10, by=total_quantity.DESC())
```

**Step-by-Step Explanation:**
1. **Filter 1998 Orders:** First limit orders to those placed in 1998 using `YEAR(order_date)`
2. **Green Product Filter:** Add a nested filter on line items to only include parts with 'green' in their name using:
   - `CONTAINS(LOWER(...))` for case-insensitive match
   - Access part names via `part.name` relationship
3. **Quantity Calculation:** Maintain the existing quantity aggregation pattern but now only for green products:
   - Extract quantities from filtered line items
   - Sum quantities at customer level
4. **Top 10 Selection:** Keep the TOP_K(10) pattern but now works with green-product quantities

This adds the 'green' filter at the line item level while preserving the original temporal (1998) and aggregation (per-customer) logic.

        customer_name  total_quantity
0  Customer#000011509             208
1  Customer#000022147             201
2  Customer#000027577             201
3  Customer#000109117             176
4  Customer#000016252             172

### Revenue Performance (WIP)

### 5. What is the february 1996 SPM for the almond antique blue royal burnished part in China?

- SPM (Selling Profit Margin) = (Total Amount from Sells - (Tax + Commission)) / Total Amount from Sells * 100
- This query was provided as a representative example of potential stakeholder inquiries.
- Showcases advanced partitioning and filtering, demonstrating how PyDough can be used for highly specific business KPIs. 
- Compare with a previous time period and exclude/include specific suppliers, making it a progressive data exploration example.

In [39]:
query= """What is the february 1996 SPM for the almond antique blue royal burnished part in China? 
SPM (Selling Profit Margin) = (Total Amount from Sells - (Tax + Commission)) / Total Amount from Sells * 100"""

result= client.ask(query)

print(result.full_explanation)

```python
# Calculate SPM for almond antique blue royal burnished parts in China during Feb 1996
feb_1996_spm = (
    lines.WHERE(
        (part.name == "almond antique blue royal burnished") &
        (YEAR(order.order_date) == 1996) &
        (MONTH(order.order_date) == 2) &
        (order.customer.nation.name == "China")
    )
    .CALCULATE(
        total_sales=SUM(extended_price),
        total_costs=SUM(tax + discount)  # Using discount as commission proxy
    )
    .CALCULATE(
        spm=(total_sales - total_costs) / total_sales * 100
    )
)
```

**Step-by-Step Explanation:**

1. **Filter Relevant Lines:**
   - Filter line items for parts named "almond antique blue royal burnished"
   - Filter orders from February 1996 using YEAR/MONTH functions
   - Filter customers located in China using nation name

2. **Calculate Aggregates:**
   - `total_sales`: Sum of extended prices for qualifying line items
   - `total_costs`: Sum of tax + discount (using discount as commission proxy since explicit commission field doesn't exist in schema)

3. **Compute SPM:**
   - Apply the formula `(total_sales - total_costs) / total_sales * 100`
   - Final result contains single SPM percentage value

**Important Note:** The schema doesn't contain an explicit commission field. This solution uses discount as a proxy for commission costs based on the available fields. If actual commission logic differs, the calculation would need adjustment.

**Follow up**: Compare that to november 1995 SPM, have we seen an increase?

In [ ]:
result= client.discourse(result, "Compare that to november 1995 SPM, have we seen an increase?")

print(result.full_explanation)

```python
# Define filter conditions and calculations for February 1996
feb_1996_spm = (
    lines.WHERE(
        (part.name == 'almond antique blue royal burnished') &
        (order.customer.nation.name == 'China') &
        (YEAR(order.order_date) == 1996) &
        (MONTH(order.order_date) == 2)
    )
    .CALCULATE(
        total_sales=SUM(extended_price * (1 - discount)),
        total_tax=SUM(tax),
        total_cost=SUM(part_and_supplier.supplycost * quantity)
    )
    .CALCULATE(
        spm=(total_sales - (total_tax + total_cost)) / total_sales * 100
    )
)

# Define filter conditions and calculations for November 1995
nov_1995_spm = (
    lines.WHERE(
        (part.name == 'almond antique blue royal burnished') &
        (order.customer.nation.name == 'China') &
        (YEAR(order.order_date) == 1995) &
        (MONTH(order.order_date) == 11)
    )
    .CALCULATE(
        total_sales=SUM(extended_price * (1 - discount)),
        total_tax=SUM(tax),
        total_cost=SUM(part_and_supplier.supplycost * quantity)
    )
    .CALCULATE(
        spm=(total_sales - (total_tax + total_cost)) / total_sales * 100
    )
)

# Final comparison calculation
spm_comparison = CALCULATE(
    feb_1996_spm=feb_1996_spm.spm,
    nov_1995_spm=nov_1995_spm.spm,
    spm_increase=feb_1996_spm.spm > nov_1995_spm.spm
)
```

**Step-by-Step Explanation:**

1. **Filter Lines for Specific Part/Country:**
   - Filters line items to only include:
     - Parts named "almond antique blue royal burnished"
     - Customers located in China
     - Orders from either Feb 1996 or Nov 1995

2. **Financial Calculations:**
   - **February 1996 Calculation:**
     - `total_sales`: Sum of extended_price after discounts
     - `total_tax`: Sum of tax amounts
     - `total_cost`: Sum of supply costs (supplycost × quantity)
     - Calculates SPM using formula: `(sales - (tax + cost)) / sales × 100`

3. **November 1995 Calculation:**
   - Identical structure to Feb 1996 calculation but filters for Nov 1995 dates

4. **Final Comparison:**
   - Combines both calculations into single result with:
     - `feb_1996_spm`: SPM value for February 1996
     - `nov_1995_spm`: SPM value for November 1995
     - `spm_increase`: Boolean showing if SPM improved

**Key Technical Choices:**
1. Used direct filtering rather than PARTITION since we only need two specific months
2. Leveraged inline calculations to maintain query efficiency
3. Handled complex formula through multiple CALCULATE steps for clarity
4. Used explicit date filtering to avoid partitioning overhead
5. Maintained strict field order as requested (Feb before Nov comparison)

**Follow up**: Now exclude supplier Supplier#000001305 and focus only on supplier Supplier#000008802

In [42]:
result= client.discourse(result, """Now exclude supplier Supplier#000001305 
                         and focus only on supplier Supplier#000008802v""")

print(result.full_explanation)

```python
# Updated February 1996 calculation with supplier filters
feb_1996_spm = (
    lines.WHERE(
        (part.name == 'almond antique blue royal burnished') &
        (order.customer.nation.name == 'China') &
        (YEAR(order.order_date) == 1996) &
        (MONTH(order.order_date) == 2) &
        (supplier_key != 'Supplier#000001305') &  # Exclude specified supplier
        (supplier_key == 'Supplier#000008802')    # Focus on specific supplier
    )
    .CALCULATE(
        total_sales=SUM(extended_price * (1 - discount)),
        total_tax=SUM(tax),
        total_cost=SUM(part_and_supplier.supplycost * quantity)
    )
    .CALCULATE(
        spm=(total_sales - (total_tax + total_cost)) / total_sales * 100
    )
)

# Updated November 1995 calculation with supplier filters
nov_1995_spm = (
    lines.WHERE(
        (part.name == 'almond antique blue royal burnished') &
        (order.customer.nation.name == 'China') &
        (YEAR(order.order_date) == 1995) &
        (MONTH(order.order_date) == 11) &
        (supplier_key != 'Supplier#000001305') &  # Exclude specified supplier
        (supplier_key == 'Supplier#000008802')    # Focus on specific supplier
    )
    .CALCULATE(
        total_sales=SUM(extended_price * (1 - discount)),
        total_tax=SUM(tax),
        total_cost=SUM(part_and_supplier.supplycost * quantity)
    )
    .CALCULATE(
        spm=(total_sales - (total_tax + total_cost)) / total_sales * 100
    )
)

# Maintain existing comparison logic
spm_comparison = CALCULATE(
    feb_1996_spm=feb_1996_spm.spm,
    nov_1995_spm=nov_1995_spm.spm,
    spm_increase=feb_1996_spm.spm > nov_1995_spm.spm
)
```

**Step-by-Step Explanation:**
1. **Supplier Filtering:** Added explicit supplier filters to both time period calculations
   - `supplier_key != 'Supplier#000001305'` excludes unwanted supplier
   - `supplier_key == 'Supplier#000008802'` focuses on target supplier
2. **Calculation Preservation:** Maintained original SPM calculation logic
3. **Temporal Filtering:** Kept existing date range filters for Feb 1996/Nov 1995
4. **Geo Filter:** Retained China nation filter from original query
5. **Part Filter:** Continued filtering for 'almond antique blue royal burnished' part
6. **Result Comparison:** Maintained direct SPM comparison between periods

The code now calculates SPM for only Supplier#000008802 in China, excluding Supplier#000001305, while maintaining all original business logic and calculation accuracy.